[2014-07-27 05:00] ghost opened #2 "cit for new TODO items"
The input file is as follows:
- hello, world

---

(without the above --- of course)
Hover over that line, and then do:
cit
t
##

(without the dashes. t selects the TODO item)
I get the following error when I do this:
Error detected while processing function dotoo#change_todo:
line 4:
E718: Funcref required
line 5:
E718: Funcref required
Press ENTER or type command to continue

[2014-07-28 01:58] #2 closed, assigned to nobody

[2014-07-28 08:48] edkolev opened #3 "Basic usage example"
Thank you for this plugin!

Could you provide some docs about basic usage? This is what I consider a decent documentation on vim plugins:
1. example of a core functionality, preferably with a screenshot -- this is to get users interested
2. example of basic usage, to get users started with core features
3. details about all of the features of the plugin, to allow users to take full advantage of th

[2014-07-28 16:50] wsdookadr opened #4 "clock problem"
Hi ,

I like vim-dotoo, but when I clock-in and clock-out 1 minute later, it shows up as 23hours and 1 minute. Maybe this is a timezone problem ? not sure. I am GMT+3 and the dates in the quote below are correct, just the results of the time difference  `clock-out - clock-in` are not (`23:01`,`23:00`,`23:00`).

[code]

On a more general note, how does one usually write tests for a Vim plugin ?

[2014-07-28 16:58] wsdookadr opened #5 "default directory should be created or docs should mention it needs to be configured"
Hi,

After hitting gC and t and creating a todo, and trying to save it, I get this
![](http://i.imgur.com/XCJS5gN.png)

Dhruva suggested on IRC that configuring `g:dotoo#agenda#files` and  `g:dotoo#capture#refile`(and this actually solved the problem) but maybe the documentation should be more clear in relation to this, or, as an alternative, the default directory can be created by `vim-dotoo` on

[2014-07-29 08:06] judofyr opened #6 "Cannot allocate color in ReadTodoKeywords"
Just opening an empty file `test.dotoo`:

[code]

[2014-07-29 21:18] #4 closed, assigned to nobody

[2015-01-28 17:42] angelic-sedition opened #8 "Compatability with Org Mode for Inactive/Active Dates"
Emacs' org mode uses <date> for active dates (these show up in the agenda) and [] for inactive dates (don't show up in the agenda). Adding this behaviour would be especially nice for anyone wanting to migrate their previously existing org file to vim-dotoo (as well as for anyone who would use both org mode and vim-dotoo).

[2015-01-28 18:06] dhruvasagar commented on #8
Right, as of now I actually support only inactive dates and treat them as inactive. When it comes to deadlines/schedules and such I don't really think there is any value for those inactive dates.

Can you please take an example that might convince me otherwise besides that org-mode supports it ?

[2015-01-28 22:53] angelic-sedition commented on #8
So if I understand correctly every date is inactive unless it is a deadline or schedule? This at least seems to be the behaviour for me. I think that it makes more sense than how org mode does it (I've never wanted an active date that wasn't a "deadline" or "scheduled"), so I think it seems like a better idea to keep it that way. However, would you be willing to let vim-dotoo be more lenient with

[2015-01-29 01:45] dhruvasagar commented on #8
I am willing to do it if there's value in it, even though it adds more complexity.
Right now vim-dotoo's agenda lists tasks that have either a deadline or a schedule.

I guess emacs' org-mode also lists todos in agenda which have dates in the task title and other places if it's an active date !? I don't particularly like that idea because it makes things complicated and I am not too sure if there'

[2015-01-29 17:07] angelic-sedition commented on #8
I agree that it makes sense to just add a deadline. Emacs' org-mode will list any dates in angle brackets in the agenda and ignore any others (even if they come after "DEADLINE:"). I completely agree that this would be more complicated and make less sense.

My suggestion is no longer to change how vim-dotoo works to match emacs' org-mode with regard to what shows up in the agenda. I'm just suggest

[2015-01-29 17:08] dhruvasagar commented on #8
Yes that sounds very reasonably, i'll surely give that a go.

[2015-01-29 17:28] dhruvasagar commented on #8
Ok, now I have a question. What about when we make a change to the task (say change todo state or something else) via the system, and it would update `<2015-02-04 Wed>` to `[2015-02-04 Wed]` ?
Would that be acceptable !? The reason I am asking is because adding support for `<...>` is very easy however to add the logic to remember what format it was initially and make sure it's serialized back to t

[2015-01-29 20:10] angelic-sedition commented on #8
If it would be too much trouble to remember the initial state, would you be willing to have it default to using angle brackets next to a "DEADLINE" or "SCHEDULED" and square brackets otherwise? Again, this would serve no purpose other than compatability, but I don't think that it would negatively impact the user (unless one really didn't like how angle brackets looked...). If you think this would

[2015-01-29 20:12] dhruvasagar commented on #8
well i'll work it out over the weekend, i prefer the format to not change, and I don't want there to be any defaults per say as long as we're using both formats, which we are.

[2015-01-29 20:14] dhruvasagar commented on #8
Well that reminds me, we would need to establish a 'default' perhaps ? I need to think about the Capture templates too. Will check over the weekend.

[2015-01-29 21:12] angelic-sedition commented on #8
I think it would make sense to default to square brackets for everything except deadline/scheduled which would default to angle brackets. If you want a consistent default, then I'd say just stick with square brackets.

[2015-01-30 02:01] dhruvasagar commented on #8
I have added preliminary support for <> timestamps, the existing flow should remain the same.
Capture plugin will however default to using square brackets [], however you could manually change it <> if you so choose to. Dotoo will make sure it uses the specific <> or [] as per what was there originally during parsing the document. Additionally I have also updated the syntax definitions to allow fo

[2015-01-30 02:27] angelic-sedition commented on #8
Thanks! That's working great. If someone wanted to use <>, they could easily change the capture template.

Are you going to make further changes or should I close this?

[2015-01-30 02:29] dhruvasagar commented on #8
I left it open to see if there was anything wrong, but I think we can close this for now, open an issue if you find any although I don't think there should be.

I need to add tests, the main reason i've been holding on is because I have a major urge to build a testing system for viml myself :), but i'll get to it soon.

[2015-01-30 02:31] angelic-sedition commented on #8
Awesome. Everything seems to be working for me.

[2015-01-30 02:31] #8 closed

[2015-02-01 20:02] angelic-sedition opened #9 "Error When Trying to Change Todo State"
When using `cit` or calling `dotoo#change_todo()` I get the error `E718: Funcref required` after selecting any of the keys for "done", "todo", etc.

I reinstalled vim-dotoo and now get `Error detected while processing function dotoo#change_todo..183..180..194:` then `E716: Key not present in Dictionary: lsep . self.closed.to_string() . self.rsep` then `E15: Invalid expression: 'CLOSED: ' . self.ls

[2015-02-01 22:00] noctuid opened #10 "Extending Where Can Capture To"
My most used capture template for org mode was the special one that allows you to capture to the heading that you are currently clocked in under. The template looks like this:

[code]

Basically it will just add this to the bottom of whatever heading you're clocked into with the time (which can already be done). I find this to be a great way to clock into a certain task in one file and then record

[2015-02-02 05:17] dhruvasagar commented on #10
## Capture
Capture templates certainly need some more love, I have had to give that another look for a while, perhaps sooner now that I see someone else needing the same.

## Clocking
Let me try and explain how vim-dotoo works with clocks. There are 2 plugins that deal with clocks.
1. LogBook: This is responsible for parsing the log entries within the headlines of any dotoo file.
2. Clock: This is

[2015-02-02 05:19] dhruvasagar commented on #6
Going to close this issue since I don't believe it is an issue anymore, reopen this if it still persists.

[2015-02-02 05:19] #6 closed

[2015-02-02 05:27] #9 closed

[2015-02-02 05:43] dhruvasagar commented on #10
Btw, you can disable clocking while capturing by setting 'let g:dotoo#capture#clock = 0'

[2015-02-02 06:00] dhruvasagar commented on #10
I think this is a good idea. I will try to add this bit by bit soon. Thanks for the help!

[2015-03-21 12:21] rafi commented on #3
+1, for org-mode newcomers, stuff's little confusing :)

[2015-03-21 12:22] dhruvasagar commented on #3
Sorry I haven't come to doing it yet, will try building one gradually.

[2015-03-23 16:34] hvanderson opened #11 "show date/time with notes"
@dhruvasagar , this plugin is BOSS. I cannot thank you enough. What is your recommendation for showing the date/time with notes?

[2015-03-23 16:42] hvanderson opened #12 "colons in capture bonk"
it seems we can't use colons in the capture text....

[2015-03-23 17:16] dhruvasagar commented on #12
Just colons ? Did you get an error ? What's the output of `verb imap :` ?

[2015-03-23 17:24] dhruvasagar commented on #11
Hey, thanks for trying it out!

As of now, the plugin recognises dates from either `DEADLINE` or `SCHEDULED` for a headline. They're also used for displaying these in the `agenda` view. Notes as just basically headlines with a tag ':NOTE:` so if you wanted to see dates you should add a `DEADLINE` or `SCHEDULED` date to it. However I don't think those dates will get added to the `notes` view just t

[2015-03-24 13:05] dhruvasagar commented on #12
I can't reproduce this, I am able to use colons in the capture text. Kindly provide more information.

[2015-03-24 13:15] hvanderson commented on #12
ok! I will.
Hans Anderson, Advanced Technology, ESPN

On Mar 24, 2015, at 9:05 AM, Dhruva Sagar <notifications@github.com<mailto:notifications@github.com>> wrote:

I can't reproduce this, I am able to use colons in the capture text. Kindly provide more information.

—
Reply to this email directly or view it on GitHub<https://github.com/dhruvasagar/vim-dotoo/issues/12#issuecomment-85486356>.

[2015-03-24 14:31] hvanderson commented on #12
Good morning! here is what I see, attempting g-C, “test with:”
[cid:EDCC01DD-27F9-4C6E-873F-536B257AFCFC@corp.espn.pvt]
Hans Anderson, Advanced Technology, ESPN

On Mar 24, 2015, at 9:05 AM, Dhruva Sagar <notifications@github.com<mailto:notifications@github.com>> wrote:

I can't reproduce this, I am able to use colons in the capture text. Kindly provide more information.

—
Reply to this email dir

[2015-03-24 14:32] dhruvasagar commented on #12
What did you modify exactly ? Did you add a new capture template ? Or are you talking about the capture buffer where you actually capture a headline ?

[2015-03-24 14:39] hvanderson commented on #12
this is out-of-the-box… no custom template. That was using the capture buffer for new todo ( “g-C”)
Hans Anderson, Advanced Technology, ESPN

On Mar 24, 2015, at 10:32 AM, Dhruva Sagar <notifications@github.com<mailto:notifications@github.com>> wrote:

What did you modify exactly ? Did you add a new capture template ? Or are you talking about the capture buffer where you actually capture a headlin

[2015-03-25 15:09] hvanderson commented on #12
Hi, Dhruva! Here you have my vimrc and at the top, a list of pathogen’d plugins:

""plugins as of 2015/3/5...
"
".vim/bundle
"├── ctrlp.vim
"├── dotoo.vim
"├── gundo
"├── nerdtree
"├── rainbow_parentheses.vim
"├── tmuxline.vim
"├── vim-airline
"├── vim-bufferline
"├── vim-classpath
"├── vim-clojure-highlight
"├── vim-clojure-static
"├── vim-colors-solarized
"├── vim-dispatch
"├── vim-fireplace
"├─

[2015-03-25 15:18] dhruvasagar commented on #12
Would it be possible to make a small gif / video of the behavior ? I am not sure I actually understand what the problem is in the first place.

[2015-04-01 21:22] dhruvasagar opened #13 "Compatibility with NeoVIM"
From a quick run it looks like it breaks with NeoVIM, need to debug the parser and see what may be causing this issue. Needs to be taken up at high priority to try and ensure that it works in both vim & neovim.

[2015-05-14 04:47] angelic-sedition opened #14 "Headings/Functionality in Non-Dotoo Filetypes"
For emacs, there are things like orgstruct that allow using org folding in non-org files by having the "\*"s after a comment character (e.g. "# \* heading level"). I don't know about other stuff, but I like using this syntax for folds better than markers. I don't know if you would consider this to be outside of the scope of vim-dotoo, but since the fold expression and color stuff already exists he

[2015-05-14 05:06] dhruvasagar commented on #14
Sounds reasonable, though it would require adding syntax definitions to every filetype. As of now our syntax & folding definitions are limited to the dotoo filetype. Not that it's not possible, but not sure it will be off putting.
I have been a bit busy in other things in a while, this is a complex piece of code, I will take time out to churn some much needed tests and perhaps finally get to refac

[2015-05-14 18:48] angelic-sedition commented on #14
I think it would make sense to just give the user a way to choose what filetypes to have it active for if possible (maybe just using FileType autocmds or ftplugin). Take your time; I'm looking forward to it.

[2015-06-26 06:13] BimbaLaszlo opened #15 "problem with date"
I just tried the plugin and it looks promising, but handles the dates incorrectly. If i'm entering `:time:` in to the agenda file, it produces `[2015-06-26 P 08:07]` which is good, but hitting `<C-C><C-C>` on it to normalize the date, it converts it to `[1970-01-01 Cs 01:00]`. This is the behaviour for `gI` (clock in) too:
[code]
becomes
[code]
I'm using Windows 7 with Hungarian locale if it takes

[2015-06-26 09:18] dhruvasagar commented on #15
Hi, actually, the time doesn't look good, it's supposed to have the day something like `[2015-06-26 Fri 08:07]`, will have a look and ask more questions to understand what the 'P' is about.

[2015-06-26 09:24] BimbaLaszlo commented on #15
'P' means Friday in my language ("Péntek") - my *locale is Hungraian* as i wrote.

[2015-06-26 10:02] dhruvasagar commented on #15
Ahh, then it might just have to do with locale, looks like it isn't able to parse the datetime `<C-c><C-c>` tries to parse the date time and then correct it. I think I could fix it simply by making my regex a bit more relaxed as it expects a 3 sized day name, and here it is just 1 char.

[2015-08-18 08:39] dhruvasagar commented on #15
Hi,

Sorry for the loooong delay, I have pushed a change that should fix this now. Kindly have a look and let me know, thanks for your help!

[2015-08-18 08:39] #15 closed

[2015-08-18 08:41] dhruvasagar commented on #12
Hi,

Since I was unable to reproduce / full understand the exact problem I am going to close this issue for the moment, kindly feel free to reopen it and provide more information to help me understand the problem better so I could reproduce it and then eventually fix it.

[2015-08-18 08:43] dhruvasagar commented on #11
Hi,

I will close this issue for now hoping I was able to solve your issue. Kindly feel free to reopen this and provide more information if you still need help with this.

[2015-08-18 08:43] #11 closed

[2015-08-18 08:48] dhruvasagar commented on #5
I believe, this error should itself be good enough to indicate that the directory should be created. I have provided related information in the help text since. I would hope that is good enough, I would not like to create any directories from within the plugin so as to leave that choice to the plugin user.

[2015-08-18 08:48] #5 closed

[2015-08-18 23:20] khoi2401 opened #16 "Setting 'agenda files' doesn't work"
Hi!

I've just installed vim-dotoo, but have a small issue. I added

    let g:dotoo#agenda#files = ['~/notes/*.dotoo']

in my .vimrc but nothing appears in the agenda.

When I'm editing a file in ~/notes/, the content of that particular file (and only that file) does appear in the agenda.

Can someone help me?

[2015-08-19 04:36] dhruvasagar commented on #16
Hi,

Are there dotoo files in the `~/notes` directory ?

Also, agenda view shows tasks that have either a deadline / are scheduled. So do you have tasks in the files within that directory that have them ?

[2015-08-19 09:19] khoi2401 commented on #16
Yes for both. I have two dotoo files with scheduled tasks in both.

[2015-08-19 09:24] dhruvasagar commented on #16
@khoi2401 You should press `.` within the agenda view to make sure you're looking at today's agenda. Besides that it would be nice if I could have a look at your files. Also give me your vim version details.

[2015-08-19 09:47] khoi2401 commented on #16
Hi,

Thanks for your quick replies. Here are the contents of the files:

    ~/notes » tail -n +1 *.dotoo
    ==> personal.dotoo <==
    * Calls
    ** Someone (Mumble)
    SCHEDULED: [2015-08-22 Sat 14:00]
    ** Someone else (Skype)
    SCHEDULED: [2015-08-23 Sun 14:00]

    ==> phd.dotoo <==
    * Research
    ** TODO Characterise operators of the direct product

    * Meetings
    ** TODO Y3 f

[2015-08-19 09:54] dhruvasagar commented on #16
This is strange I copied your files in notes and then set the `g:dotoo#agenda#files` like you mentioned and it works as expected. Kindly try restarting vim. Also double check the spellings in the setting `['/home/khoi/notes/*.dotoo']`, make sure the directory ~/notes has the right permissions to allow vim to read + write to it.

Also do you have `set hidden` enabled ?

The last point might very we

[2015-08-19 09:59] khoi2401 commented on #16
Thanks! It does work with set hidden.

Thank you so much for dotoo, and while I'm at it, for table-mode as well.

[2015-08-19 10:01] dhruvasagar commented on #16
Hehe, you're welcome! Hopefully it is as useful to you as it is to me :). Feel free to open ticket for issues or suggestions.

[2015-08-19 10:01] #16 closed

[2015-11-17 10:31] paretje commented on #13
Well, until now I've encountered one issue, the wrong value for today, which is caused by [this bug](https://github.com/neovim/neovim/issues/3685). I quickly fixed this [here](https://github.com/paretje/vim-dotoo/commit/593cbc59e39fe31229ff2f0c49980275787233dd).

It made me wondering however about the reason to use reltime in the first place?

[2015-11-17 11:03] dhruvasagar commented on #13
Well that part is actually borrowed from another library, though I believe it's just more accurate than `localtime()`

[2015-11-17 11:06] dhruvasagar commented on #13
I actually don't mind using `localtime()` instead as long as it works, never tried. Also my debugging never reached this part, It was clear the problems were in parsing but wasn't entirely clear where. Thanks for looking into this, perhaps this can be closed with that fix then ?

[2015-11-17 13:57] paretje commented on #13
Unless there are other issues. I've been using it a couple of ours now, but this solves the most obvious problem. If we simply use localtime, I guess the code to parse milliseconds can be removed as well. I believe us will always end up being an empty string anyway (which will be converted to zero).
[code]

[2015-11-17 14:10] dhruvasagar commented on #13
Yes we can indeed, I don't see that to be especially valuable in our context.

[2015-11-18 18:27] #13 closed

[2015-11-20 05:31] dhruvasagar opened #31 "Add tests"
Dotoo codebase is quite complex, even though I believe I have a reasonably good design & separation of concern it needs to have tests and CI.

[2016-01-17 10:14] paretje opened #34 "Summertime issues"
For long, I guess since October, I've got this issue with stamps of which the time alters on any action. I finally searched and found how to reproduce this:
[code]

If you do any action, for instance `gI` when editing the file, the time will increase with one hour. When you alter the date to 2015-10-25, the end of summertime in Europe, it works as expected. The same applies if you alter the date t

[2016-01-17 11:01] dhruvasagar commented on #34
Will look into this.

[2016-01-18 09:09] dhruvasagar commented on #34
Looks like this is some timezone specific issue since I am not able to reproduce it on my local. I will try to investigate more.

[2016-02-27 16:09] bbakersmith commented on #3
+1

[2016-02-27 16:14] bbakersmith opened #35 "Can't get it to work, need basic use tutorial"
I can create notes and todos in the `gC` view, they show up in the refile as specified by `g:dotoo#capture#refile` if I open the file manually, but nothing shows up in any of the `gA` agenda views. I don't know how to proceed.

[2016-02-27 19:16] dhruvasagar commented on #3
Does the doc (readme) not suffice ?

[2016-02-27 19:17] dhruvasagar commented on #35
Do you have `set hidden` enabled ?

[2016-02-27 21:34] bbakersmith commented on #35
yes

[2016-02-28 02:41] dhruvasagar commented on #35
Well, gC, and several other change / modification operations done on the agenda window are done to the files but not saved. You have to save them explicitly. In agenda view you can do that by <kbd>s</kbd>, or you could save the file if you navigate to it. I am guessing you're not doing that.

[2016-02-28 13:06] dhruvasagar commented on #35
Were you able to resolve the issue ? Also make sure vim / you have write permissions to the file in the path as per `g:dotoo#capture#refile`

[2016-02-28 16:38] bbakersmith commented on #35
I do `gC`, then `n` to add a note, I write my note and `:w` to save and close the note window. Vim reports "~/.dotoo/refile 30L, 753C written", and sure enough if I open ~/.dotoo/refile the note is there.

Then I `gA` to open the agenda view and `n` to select notes, but no notes. I `gA` then `r` to select refiles, and no refiles listed. I hit `s` in all the views I've listed above, to no effect.

[2016-02-28 16:42] dhruvasagar commented on #35
No you are doing right, what version of vim are you using ?

PS: vim-dotoo uses a caching mechanism for performance to show the agenda views, so possibly you are looking at stale view, just hitting `r` in the agenda view should refresh it and perhaps you see the note then.

[2016-02-28 16:56] bbakersmith commented on #35
`r` doesn't seem to have an effect.

I'm on a mac, could that be an issue? I'm more used to Linux but my company uses macs for development.

Since the file gets written to fine it seems `gC` and the creation end of things are working for me, but the file isn't being found or read properly by the agenda view. Is there a default location for `g:dotoo#capture#refile` I could try?

Sorry for the bothe

[2016-02-28 17:09] dhruvasagar commented on #35
Being on a mac is not an issue, I have tested and used this plugin on both linux and mac, and on both vim and neovim. So that's not an issue and the version you're using is also recent enough.

Once you've captured and saved, it goes to the refile file. So whatever was added should be visible in the refile agenda view. i.e. in `gA`+`r`. Like I said, ideally just refreshing the view (hitting `r` wh

[2016-02-28 17:21] bbakersmith commented on #35
I gotcha. Yeah, despite the refile being written to, nothing shows up in the refiles menu (`gA` + `r`) and hitting `r` to refresh has no effect. :-/

[2016-02-28 17:26] dhruvasagar commented on #35
That is odd. Do you not have any agenda files besides the refile file ? Kindly share your complete vim-dotoo settings. I will try and reproduce the issue and see how I can help you

[2016-02-28 17:28] bbakersmith commented on #35
All I have for configuration is the following (should I have more?):

[code]

I'll also try this on my linux machine when I'm home later, if it works there then maybe it'll provide me a starting point for comparing environments.

[2016-02-28 17:33] dhruvasagar commented on #35
Ok i'll have a look and get back to you. I'll try checking the scenario without agenda files settings and see if there are edge cases there.

[2016-03-09 09:14] dhruvasagar commented on #31
Finally added tests using `dhruvasagar/vim-testify`. Very basic, but this paves the way for great testing which is crucial to a maintainable codebase, especially given the complexity.

[2016-03-09 09:14] #31 closed

[2016-03-09 09:14] dhruvasagar commented on #31
#dhruvasagar/vim-testify

[2016-03-31 09:10] #34 closed

[2016-05-01 00:58] sgronblo commented on #3
I think the documentation should include some more example of the actual syntax. Currently there seems to be an assumption that everybody is familiar with the org-mode syntax.

[2016-05-01 01:47] dhruvasagar commented on #3
Alright, I will add that.

[2016-08-27 09:54] fugokidi opened #38 "Color Allocation Problem"
Hi, thanks for the plugins. I try dotoo today, I have a little problem, I'm getting the error saying cannot allocate color and and I cannot write refile.dotoo as well. I'm on MacOS and don't have org-mode background. Can I have a little bit of guidance? Thank you. I have embedded the screen shot below.
![screen shot 2016-08-27 at 5 44 19 pm](https://cloud.githubusercontent.com/assets/9945857/18026

[2016-08-28 10:48] dhruvasagar commented on #38
Hi, this looks most likely a problem with your terminal, are you sure u have 256 colors ? What's the value of $TERM ?

[2016-08-28 11:05] fugokidi commented on #38
Hi, thank you for your reply. I'm using tmux in iTerm2.  The $TERM value is ```screen-256color```. I configured tmux with some color values as well. It is fine. I think I have 256 colors. Any idea?

[2016-08-28 19:37] paretje commented on #38
The same happens using gvim. Apparently, iTerm is using [gui colors](https://github.com/neovim/neovim/issues/4946). In general, the syntax colors of the todo keywords need a gui fallback, separated by a comma from the current `cterm` colors.

To prevent these errors, these lines should be altered in the syntax files:
[code]

It checks check if `l:color` isn't a number instead of presuming it's a c

[2016-08-29 00:19] dhruvasagar commented on #38
Actually the colors are defined using the variable `g:dotoo_todo_keyword_faces`, this is the current setting:

[code]

Perhaps you can change these to something else.

[2016-08-29 16:22] paretje commented on #38
I know, but only cterm colors are defined by default. Thus, the default should become, for example, `:foreground 160,#005FFF` in case of the TODO keyword.

But, if only a color number is given, this should not be used a guicolor. That's the reason we get errors. For cterm we can use colors 0-255 (assuming 256 color support) and color names. For gui, we can use "HTML colors" and color names. If it

[2016-08-29 16:31] dhruvasagar commented on #38
You can set it to gui colors only. Setting both isn't supported. You could add a conditional to check if you should be using gui colors if more colors are available and only then set these values, otherwise use default / override terminal colors to your choice.

These are pretty standard colors so I am suprised they aren't available for you. If i could reproduce the problem I may try to solve it b

[2016-08-29 16:38] paretje commented on #38
Yes it is:
[code]
So, you just give both, separated by a comma. If you give one, the current code assumes it will work with both `guifg` and `ctermfg`, however that's only the case when it's a name. If it's number, it's only supported by `ctermfg`.

To solve this issue, we just need to add gui color's in the default, and stop using a color number with `guifg`.

[2016-08-29 18:10] dhruvasagar commented on #38
No this shouldn't be in the plugin, it should be in your configurations. I don't want to account for a problem that most people don't face. If more people report this I would fix it but not for now. For now you can do this in your vimrc and just set `g:dotoo_todo_keyword_faces` conditionally based on whether it's gui (256+colors) or not.

[2016-08-29 18:36] paretje commented on #38
It's not a problem I personally face, it's just that I know it also happens with gvim, which I don't use, normally.

But the fact is that it already is in the plugin. You already can give two colors separated by a comma. I don't see how this would hurt users which use regular vim or neovim (except for iTerm apparently) if this is indeed done in the default configuration?

And the errors are just a

[2016-08-31 02:46] #38 closed

[2016-08-31 02:47] dhruvasagar commented on #38
I had assumed that those colors also work in gui, but I suppose that was wrong. I have added gui colors now, they should be the same as the original cterm ones. Let me know if it works.

[2016-08-31 03:25] fugokidi commented on #38
Yes, Sir. It works. I don't understand much about what you guys were talking about. I have to say, you people are awesome. Thank you very much. Hell, yeah, I'm going to learn dotoo.

[2016-08-31 06:00] dhruvasagar commented on #38
@fugokidi Sure you're welcome, I had initially misunderstood @paretje, and thought he wanted me to change syntax file, something that I have been meaning to refactor but haven't gotten around to. Fortunately this is already supported so I added sane defaults from my end, which you can still override in your vimrc if you'd like.

[2016-08-31 06:15] dhruvasagar commented on #38
@paretje ty for your help :).

[2016-09-20 18:41] maximsch2 commented on #35
I can confirm that I'm having the same problem. I'm using NeoVim and don't have any changes default config values of vim-dotoo.

Moreover, if I add a file to "~/Documents/dotoo-files/" and put some TODOs there, then I'm not getting anything from it in agenda view by default. Opening that file and asking for Agenda does work though. Maybe there is an issue with detecting "*.dotoo" files in that fol

[2016-09-21 06:56] dhruvasagar commented on #35
Are you sure the dotoo files are in the right format ?
Another thing could be that the agenda (if you've had a long running vim session / use vim sessions) could be set to a date in the past. You can just hit `.` in the agenda view and that takes you to 'today'.

[2016-09-21 15:23] maximsch2 commented on #35
What I found is that replacing here: https://github.com/dhruvasagar/vim-dotoo/blob/master/autoload/dotoo/parser.vim#L7
with just `readfile(a:file)` makes agenda work, but then clocking in or out doesn't work, complaining about not being able to write to the file.
I think this suggest is that the issue is with this whole winsave/winrestore trick - if the file is loaded already, then it is working,

[2016-09-21 15:26] dhruvasagar commented on #35
That block loads the file, if it's not loaded. winsave/winrestore are just to ensure we can get vim back to exactly what state it was before we opened the file, just so opening the file (split) doesn't cause unintended modifications to the current view

[2016-09-21 15:27] dhruvasagar commented on #35
Can you check `:h winsaveview()` ? Let me know what version of vim you are using ?

[2016-09-21 15:54] maximsch2 commented on #35
`winsaveview` part works (e.g. nothing pops up and the state of my
buffers/windows is unchanged). It's probably the portion between them.

I'm using one of the later neovim builds (it says 0.1.6-dev).

To provide a bit more clarity:
- If I don't have a file with todos open, then nothing happens and my
agenda/todos view are empty.
- If I do have that file open, then I'm given a choice to add it to

[2016-09-21 15:58] dhruvasagar commented on #35
Ok, I will try to reproduce this with neovim, the only catch that I can think of is using 'noauto' for opening the file in a split may be causing some issues in neovim. I do that just so the file loads fast and doesn't run any autocommands.

[2016-09-21 16:05] maximsch2 commented on #35
I thought that neovim might be the issue, but bbakersmith is describing the same issue and he is using VIM...

[2016-09-21 16:09] maximsch2 commented on #35
I've just tried removing 'noauto' there and it didn't help.

Also, the buffer seems to be getting opened:
[code]

[2016-09-21 16:10] dhruvasagar commented on #35
Then the other thing to check would be `getbufline` call.

[2016-09-21 16:13] maximsch2 commented on #35
Although if I do
`:echom bufloaded('~/Documents/dotoo-files/sep2016.dotoo')` I get `0`. Am I doing it wrong or interpreting output of `:ls` incorrectly? Doing `getbufline` using `echom` results in "Using List as a String" error.

[2016-09-21 16:17] dhruvasagar commented on #35
Just use `:echo` instead of `echom`.
For `bufloaded` you will have to additionally use `expand` ,i.e. `bufloaded(expand(...))`.

Since you're getting that error, it implies the file is loading, in which case maybe for some reason the parsing is going for a toss.

[2016-09-21 16:35] maximsch2 commented on #35
It looks like `getbufline` is just returning an empty list, so it's not parser's fault.

Another way to fix it that seems to work: remove `quit` after `silent exe` in `s:readfile`. It seems like you expect `quit` to keep the buffer loaded somewhere in the background, but neovim decides to dispose of it (or maybe it's something in my config?).

[2016-09-21 16:47] dhruvasagar commented on #35
Well, that should happen only if you don't have `set hidden` in your vimrc. Do you not have that ?

[2016-09-21 17:06] maximsch2 commented on #35
This is it! Having `set hidden` solves the problem and everything works like magic. Should probably mention that in README and complain if it is not set while loading a plugin if it depends on it.

Will read on `set hidden` to figure out why I need that :)

[2016-09-21 17:08] dhruvasagar commented on #35
I mentioned that quite high up in this chain, it's also mentioned in the README. I guess I should highlight that more. Glad it works.

[2016-09-21 17:10] maximsch2 commented on #35
Haha, haven't noticed that in the second comment. Sorry for that! README on github doesn't mention it though.

What about using `hide` instead of `quit`? If I'm reading documentation correctly, then it should have the same effect that you are expecting regardless of `set hidden`, right?

[2016-09-21 17:39] dhruvasagar commented on #35
I actually didn't know about `:hide`, I will use switch to using that. Will reference here when I do. Thanks.

[2016-11-07 03:21] am2605 opened #40 "Incorrect Clock Time"
I believe I've hit an issue similar to #15

Whenever I clock in or clock out the date is set to

[1970-01-01 Thu 11:00]--[1970-01-01 Thu 11:00]

I'm on Windows 10 and my Timezone is Australian Eastern Summer Time, which I suspect could be contributing factor(?).

Any suggestions on how I can correct this?

Thanks!

[2016-11-07 04:23] dhruvasagar commented on #40
Hi,

I will need to have a look into this, it is most likely a timezone issue, it's hard to deal with this completely however I can have a look into it. What is ur locale ? Sometimes that can have an impact, it did for #15.

[2016-11-07 04:29] dhruvasagar commented on #40
Can you tell me the output of `echo dotoo#time#new().to_string()`?
Also `echo strftime('%Y-%m-%d %H:%M', localtime())`

[2016-11-07 05:39] am2605 commented on #40
Thanks for getting back to me.

My locale in Windows Control Panel is set to English(Australia).  Is that what you're after?

Output of

echo dotoo#time#new().to_string()

is

1970-01-01 Thu 11:00

Output of echo strftime('%Y-%m-%d %H:%M', localtime())

2016-11-07 16:38

If there's something else let me know.  Thanks again!

[2016-11-07 13:37] paretje commented on #40
What's the output of: `echo dotoo#time#new().datetime`?

[2016-11-07 22:21] am2605 commented on #40
@paretje - here is the output

`{'stzoffset': 39600, 'day': 1, 'htzoffset': 11, 'repeat': '', 'minute': 0, 'depoch': 0, 'sepoch': 0, 'year': 1970, 'month': 1, 'to_seconds': function('3'), 'second': 0, 'hour': 11, 'mtzoffset': 660}`

[2016-11-08 09:57] dhruvasagar commented on #40
I am not entirely sure if this would fix it since I cannot reproduce it reliably myself. Let me know.

[2016-11-08 10:23] am2605 commented on #40
Thanks for this.  This has definitely made some progress, because the output of echo dotoo#time#new().datetime now looks correct compared to what it did before this change:

`{'stzoffset': 39600, 'day': 8, 'htzoffset': 11, 'repeat': '', 'minute': 19, 'depoch': 17113, 'sepoch': 0, 'year': 2016, 'month': 11, 'to_seconds': function('3'), 'second': 43, 'hour': 21, 'mtzoffset': 660}`

However the logbo

[2016-11-08 10:30] dhruvasagar commented on #40
That's good news, however the logbook entries aren't `refreshed` as such, moreover, in this context there isn't any way to fix the already wrongly captured date / time since there is no way to recover the original correct date / time it was meant to capture.

So you'll have to fix these dates manually, or remove them if you don't remember the right value.

[2016-11-08 10:36] am2605 commented on #40
I understand that, however these were new entries on a completely new sheet.   So it seems although the output of `echo dotoo#time#new().datetime` has changed, whatever is being written to the logbook entry section is still 1970-01-01?

I just checked `echo dotoo#time#new().to_string()` and it still gives `1970-01-01 Thu 11:00`

[2016-11-08 10:47] dhruvasagar commented on #40
Oh, I didn't realise that.

Can you tell me the output of `echo dotoo#time#new().to_seconds()` ?

[2016-11-08 10:49] am2605 commented on #40
No problems, I wasn't very clear myself.

`echo dotoo#time#new().to_seconds()`

gives

`0`

[2016-11-08 10:49] dhruvasagar commented on #40
Also the output of `echo strftime('%s', localtime())`

[2016-11-08 10:56] am2605 commented on #40
`echo strftime('%s', localtime())`

This seems to return an empty string?  (I'm typing it as `:echo strftime('%s', localtime())` and when I press enter the cmdline goes blank. (This is on Windows 10, gvim 7.4)

Just out of interest I tried that on a linux box I have access to (it doesn't have vim-dotoo installed though - yet ;-) ) and it returned `1478602467 ` so I think this could be some kind of

[2016-11-08 10:59] dhruvasagar commented on #40
Yes, that's the source of the problem. `strftime()` which I use for time formatting / parsing, it's documentation does state that it is not platform agnostic and so need to refer to the API doc of the 'c' API. Will have further look into it, I suppose I have to use some different format than '%s' to get the unix time on windows.

[2016-11-08 11:11] am2605 commented on #40
Okay that makes sense.  Obviously if I'm the only windows user I wouldn't expect you to spend too much time on this, but if you do want to persue it I'm happy to keep helping.

[2016-11-08 11:13] dhruvasagar commented on #40
Thanks for that, now that we know the source of the problem I should be able to figure out a work around for windows. Will take sometime though, will look deeper when I have more time.

[2016-11-08 11:17] am2605 commented on #40
No problems at all.  I appreciate it!

[2016-11-17 23:50] majutsushi opened #42 "Error when trying to change todo status"
In Vim 8.0.49, if I try to use the `cit` binding to change the TODO status of a line, I get this error after pressing a key to select the status to change to:

[code]

Unrelated, looking at the source of that function made me notice that it would be good to add the `abort` modifier to all of the functions so that they stop executing after the first error (see `:h :func-abort`).

[2016-11-18 02:29] dhruvasagar commented on #42
Hey, thanks for the suggestion I will use abort more. This error seems to indicate that `dotoo#get_headline()` & `dotoo#parser#headline#get()` perhaps failed to find the headline and returned nothing. So it could mean that either the file which you are trying to manipulate was somehow not parsed or parsed incorrectly. Mind digging a bit deeper ?

[2016-11-18 03:05] majutsushi commented on #42
I did a quick test, and discovered that if I use the mapping on a headline
(i.e. one with one or more stars at the beginning) it works, but if I use it
on any other line it fails with the above error. So if todo markers are not
supported on those lines it should probably either ignore them or give a
meaningful warning.

By the way, during the testing I came across another issue: If I change a
head

[2016-11-18 03:53] dhruvasagar commented on #42
Hi,

Thanks for looking into this, I believe that is by design, I will try to make sure that when you use this functionality it doesn't give errors when using on non-headline lines.

As far as working with unsaved files go I will have another look, by design since we do a lot of manipulations to files, it is designed to work with unsaved files and tries to read files from buffer, as opposed to rea

[2016-12-13 01:03] lgalke opened #43 "Colorscheme dependent Syntax error"
Dear @dhruvasagar,

First of all: I really enjoy your plugin for the beauty of handling todo notes in vim (without trying to copy the org mode). However, as I cleaned up my vim setup due to recent Vim8 release and started once again with @tpope 's vividchalk as a colorscheme. I noticed the following Error lines upon loading a .dotoo file:

[code]

Apart from these lines, everything works as expect

[2016-12-13 05:56] dhruvasagar commented on #43
Thanks for reporting this, i'll have a look.

[2016-12-22 13:17] lgalke commented on #42
Hey there,
I experienced the same issue from time to time (exactly the same error messages as above). *But*, at least for me, it is also raised when I type `cit` inside the headline. From my experience, I assume that the problem is somewhat related to the timestamp in the headline. I paste the malfunctioning file exactly as is here:

* CityX [2017-01-24 Tue 09:00]

** BusinessTrip [2017-01-23 Mon

[2017-05-10 16:25] mitnworb commented on #40
I am having a similar issue to am2605.  My agenda files have current date, but they show up many, many years in the past.  When I run echo strftime('%s', localtime()) is show some number like 1494433389.  I am running it on Antergos linux.

[2017-05-11 06:08] dhruvasagar commented on #40
This is hard to investigate without being able to reproduce myself. I think i'll write a test script specifically to capture inconsistencies with respect to time parsing and share.

[2017-12-20 08:17] christianhaargaard commented on #40
I'm also on windows, and managed to get correct time stamps by changing line 66 in autoload/dotoo/time.vim from
        \, 'sepoch' : +strftime('%s', ts)
to
        \, 'sepoch' : ts
.

[2017-12-20 08:37] dhruvasagar commented on #40
Looks like the +strftime format may not work on windows perhaps. I did play around with swapping them earlier but causes other issues

[2017-12-20 09:23] christianhaargaard commented on #40
My testing, and what I can read elsewhere, suggests that it is just the "%s" that isn't working.
I have not tested vim-dotoo a lot after making the change I suggest above, but so far it doesn't seem to be causing any problems.
As far as I understand the code is simply printing the unix-time (`ts`) in the format of unix-time when using `strftime("%s", ts)`. Is that correct? If so, shouldn't it be f

[2017-12-28 03:26] dhruvasagar commented on #40
@christianhaargaard yes you are right in that the problem is with strftime, specifically for the '%s' format. i'll make this change and push it out. I am in the process of (since very long) writing tests but that's going to take a bit of time, so if there are issues please do let me know.

[2018-01-25 14:49] cstsunfu opened #44 "how to chang the mapping?"
I want change the map to my own key, how should I do?

[2018-01-25 18:49] dhruvasagar commented on #44
I will add plug mappings to allow for easy remapping. Will link to this issue once I push.

[2018-01-29 05:06] #44 closed

[2018-02-26 14:24] hut opened #45 "Incorrect folding when header contains a colon"
This file incorrectly folds `c:` under `b`, as though it had three asterisks, not one.
[code]

[2018-02-27 10:45] dhruvasagar commented on #45
interesting, will investigate, thanks for reporting

[2018-03-20 23:13] ghost opened #46 "Agenda crashes on open"
Hi there,

I currently have my agenda files set correctly according to the documentation. However, when I open the agenda view, it crashes and closes Vim. When I don't specify a directory, it will ask me if I want to add my current file to the list, and even if I say yes, it says I have no scheduled tasks when there clearly are for that day.

I also have set hidden included in my .vimrc, since I r

[2018-03-21 00:54] rypb commented on #46
Just an update - this was on macOS using iTerm2. I just tried it on my Debian machine with the same configuration and the agenda doesn't crash, it just doesn't detect the scheduled items.

[2018-12-05 08:14] cstsunfu commented on #3
+10086

[2018-12-05 08:18] dhruvasagar commented on #3
I am seriously considering if I should rewrite the parser in a better language like golang and interface with it.

At the very least there is certainly scope for refactoring the parser.

I will formulate more documentation regarding the file format as I do that.

[2018-12-05 09:01] edkolev commented on #3
You'll probably shrink your user base -  installation will include more steps, plus not everyone would freely install a binary

[2018-12-05 09:54] cstsunfu opened #47 "This plugin work not as expected."
When I type gCt to create a todo item vim will open a new file at /private/var/folders but not ~/Documents/dotoo-files/... if I understand the document correctly.

This will happen even if I add 'let g:dotoo#agenda#files = ['~/Documents/dotoo-files/*.dotoo']
let g:dotoo#capture#refile = expand('~/Documents/dotoo-files/refile.dotoo')' to the vimrc.

OS: MacOS
vim: Neovim

[2018-12-05 10:16] dhruvasagar commented on #47
Hi, yes that is correct, what opens essentially is a temporary file to enter the details of your task. Once you `save` it, it is then added to the refile dotoo file. From there you can move it to somewhere else when desired. ( I am hoping you're aware of the refile workflow ).

For completeness, dotoo also starts a timer when you open / start capturing, this is valuable from the perspective that y

[2018-12-05 13:01] dhruvasagar commented on #47
Have you set `g:dotoo#capture#refile` ? By default it is set to `'~/Documents/dotoo-files/refile.dotoo'` in all likelyhood the path / file does not exist so it may be failing to do so.

[2018-12-05 13:15] cstsunfu commented on #47
Yes, I have.  Only when I open the refile.dotoo file and then type gAa I can get the TODO list.
![screen shot 2018-12-05 at 9 04 58 pm 2](https://user-images.githubusercontent.com/24812659/49515367-ad0d8d80-f8d1-11e8-8a20-2c9c88177f45.png)

If I type gAt I will get nothing like this:
![screen shot 2018-12-05 at 9 07 40 pm 2](https://user-images.githubusercontent.com/24812659/49515492-fb229100-f8d1

[2018-12-05 13:49] cstsunfu commented on #47
OK, I fund  https://github.com/dhruvasagar/vim-dotoo/issues/35 mentioned the same issue, and I set hidden everything work but when I reopen neovim then I type gAa/gAt vim will just exit! If I open the refile then type this everything works as expected. I think when I type gAa the refile.dotoo is not opened automatically.

[2018-12-05 14:58] dhruvasagar commented on #47
I am glad you worked it out :).

That's a future i'd like to be part of :D

[2018-12-05 14:58] #47 closed

[2018-12-05 15:00] dhruvasagar commented on #46
Since dotoo is a pure vimscript implementation, any crashes would ideally be bugs in vimscript rather than me, there's also a small likelyhood that perhaps vim ended up using too many resources as a result of some leak that may have caused it to crash.

Would it be possible to view your dotoo files ?

[2018-12-05 15:05] dhruvasagar commented on #3
Good point, although I value correctness, maintainability more than user base, I would still prefer to stay true to my original intent while I was building this in pure viml, which is to stay as pure as possible and avoid unnecessary depedencies.

I will still build a parser in golang, but that would be more for educational purposes, for my own good.

I will plan towards a major refactor and try t

[2019-02-05 11:35] dareenzo commented on #43
Hi,

as stated above I also get this issue, though I'm not using vivid chalk, as seen bellow.

<img width="1061" alt="screen shot 2019-02-04 at 19 12 17" src="https://user-images.githubusercontent.com/6130991/52270854-ccb14880-294a-11e9-840e-df2d65adacb0.png">

[2019-02-05 12:53] dhruvasagar commented on #43
This happens when you open the dotoo file ?

[2019-02-05 12:54] dhruvasagar commented on #43
What colorscheme are you using @dareenzo

[2019-02-05 13:06] dareenzo commented on #43
Yes this happens when I open dotoo and org files. I made org files be dotoo with autocmd

`autocmd vimrc BufEnter,BufNewFile,BufRead *.org setlocal filetype=dotoo`

I'm using the snow theme - https://github.com/nightsense/snow

[2019-02-06 05:18] dareenzo commented on #43
when using themes like NeoSolarized or Tomorrow-Night those errors don't happen

[2019-02-06 16:46] dhruvasagar commented on #43
Yes, I am using dhruvasagar/vim-railscasts-theme and it doesn't happen for me either, let me check it out this week

[2019-02-25 03:27] hasufell commented on #3
The documentation jumps straight to key bindings. It doesn't even say how to use this plugin. How do you "open" it?

[2019-02-25 04:15] dhruvasagar commented on #3
@hasufell I believe the README does a good job at explaining that, I can add it to vim doc too if it helps.

[2019-02-25 04:16] dhruvasagar commented on #3
@hasufell Most of the workflows I use this for is via the agenda views, looking at the agenda for a day is usually where the most value is. The rest of the workflows are pretty much with regards to the custom keybindings to do those specific actions within the document itself.

[2019-02-25 04:29] hasufell commented on #3
Where?

[2019-02-25 05:38] dhruvasagar commented on #3
@hasufell With the help of the explanations of what they keybindings are for...There are also supporting screenshots. I do reckon a screencast would help much further but there's a lot to cover, I haven't gotten around to building one, but i'll prioritize it more now since there's some traction, I was earlier not seeing many people use this so didn't feel there's enough demand.

[2019-04-25 16:52] dareenzo opened #48 "Don't change the # register when capturing"
When using dotoo to captures, after you're done with capturing the `#` register has the path of the file where your capture went to.

I think that if the idea of capturing is to quickly capture your thoughts and go back to whatever you're doing (, which that maybe doing `b#`), you should not hit the capture file when doing `b#`.

Thanks

[2019-04-25 17:09] dhruvasagar commented on #48
Nice catch, should be able to fix this using `:keepalt`

[2019-04-25 17:10] dhruvasagar commented on #48
Although, the capture is opened in a new window, and my general flow is to just `:wq` to close it (to save in refile). So the `#` register change is only for the current buffer, not the previous window. Let me know exactly how you use it ?

[2019-04-25 17:21] dareenzo commented on #48
I use just the way it is documented.

1. do `gC`
1. Choose template and write down idea/thought
1. do `wq`
1. do `b#`, and refile / temporary file where I edited the capture comes up.

[2019-04-25 17:47] dhruvasagar commented on #48
Ok, thanks for letting me know, will fix this.

[2019-05-09 20:03] dhruvasagar commented on #48
Hi, address this issue in 36afd28cb36acc8f20bd1b3ef5d564aa3ffa03a5, let me know if you face any issues.

[2019-05-09 20:03] #48 closed

[2019-05-09 20:05] #46 closed

[2019-06-20 07:55] taigacute opened #49 "got an error when i choose todo capture"
![1](https://user-images.githubusercontent.com/41671631/59831325-26536600-9374-11e9-90f9-006fe1b5e3b1.png)

[2019-06-20 14:55] dhruvasagar commented on #49
This is some strange error probably caused by some attempt to source dotoo runtime files again or something. Restarting vim should fix this.

[2019-06-21 01:58] taigacute commented on #49
@dhruvasagar  not fixed.

[2019-06-21 13:39] dhruvasagar commented on #49
Can you elaborate more on your flow ? So I can reproduce this properly.

[2019-06-21 13:52] taigacute commented on #49
@dhruvasagar  hi ,thanks for your reply . i just add this plugin . and `gC` select todo by  `t`.

[2019-06-21 14:04] taigacute commented on #49
hm . it works .dont know why. another question maybe more like feature. can add calendar in agenda view?  emacs has this feature

[2019-06-21 15:57] dhruvasagar commented on #49
Will look into that, kindly open a separate issue for that. Thanks.

[2019-06-21 15:57] #49 closed

[2019-06-22 06:24] taigacute opened #50 "[Feature Request] Add calendar support"
emacs has canlendar to view weekly month year . can you add it into the vim-dotoo?

[2019-07-25 05:59] #50 closed

[2019-07-25 18:29] dhruvasagar commented on #50
Hey, I think it's a good thing to have but perhaps a touch beyond what I can add for the moment. At the moment I want to focus more on the parser itself. However, I will consider this at a later point in time, thanks for taking the time and letting me know about this.

[2019-07-30 13:44] dareenzo opened #51 "How would one remap >> and << to in/decrease the level of headings"
I've tried the Emacs land and when using evil-org `>>` and `<<` are remapped to in/decrease the level of headings, how could I do the same with vim and dotoo?

[2019-07-30 14:51] dhruvasagar commented on #51
There is currently no api that you could use for mapping. I will look into this. Thanks.

[2019-08-20 15:48] dareenzo opened #52 "Add support for tag inheritance in agenda"
When filtering items in the agenda view by tag child headings don't inherit  parent tags. This would be great to have for it eases filtering.

[2020-01-14 18:13] dhruvasagar commented on #10
@noctuid I have recently added initial support for this in #59. It allows you to specify a target for the capture template which can either be a filename or a headline target (similar convention as used when moving headlines `filename:headline`). Let me know what you think and if this can be improved further.

[2020-01-14 18:13] #10 closed

[2020-02-19 14:16] unknownbreaker opened #61 "Mention that files should be .dotoo in README"
I had to look into the .vim files in order to figure out what file extension I should be using.

Please specify that somewhere toward the top of the README.

Thank you!

[2020-02-19 14:42] unknownbreaker opened #62 "Error detected while processing function <SNR>212_RefileAndClose[5]..dotoo#move_headline"
I get an error when attempting to close out of the Notes template.

1. I setup a dummy dotoo file `dotootest.dotoo` and then hit `gC`.
2. Typed in random note and did `:w`. Saves OK.
3. When doing `:q`, I get an error message.

![image](https://user-images.githubusercontent.com/6026454/74844856-183b5800-52fc-11ea-95b9-fe16658969fd.png)

[2020-02-19 15:01] Gavinok commented on #62
What does the template look like?

[2020-02-19 15:10] dhruvasagar commented on #61
@unknownbreaker Interesting, I shall be more verbose about that. Thanks!

[2020-02-19 15:12] dhruvasagar commented on #62
Are you sure you are on the latest ? I think I had pushed something that broke but had fixed it later. Can you confirm if you're facing this issue on the latest commit ? @unknownbreaker Thanks

[2020-02-19 15:12] dhruvasagar commented on #62
Are you sure you are on the latest ? I think I had pushed something that broke but had fixed it later. Can you confirm if you're facing this issue on the latest commit ? @unknownbreaker Thanks

[2020-02-19 15:14] dhruvasagar commented on #62
Also can you confirm if the path `~/Documents/dotoo-files` exists ? If not you should create that, or you can override the configuration `g:dotoo#agenda#files`, kindly refer to the inline vim help for more information

[2020-03-29 14:52] cstsunfu commented on #62
I have this issue too. It not always occurs in my vim.
My configure is:
[code]
I think this issue maybe related to the temporary file.  When I capture one todo item, this plugin will open one temporary file like "/private/var/folders/kw/_rs242hj7h5d2lx5344tww4c0000gp/T/nvim5N3yPI", but this file is readonly.

OS X & neovim v0.4.3

[2020-03-29 14:57] dhruvasagar commented on #62
@cstsunfu Would you be able to answer my questions I stated above ?

[2020-03-29 15:10] cstsunfu commented on #62
Yes, the path of g:dotoo#agenda#files exist on my system, and my plugin version is the newest.
This issue not always occurs in my vim. In the same environment, sometimes it works well, sometimes it's wrong, so I didn't know what triggers this issue.

PS: The temporary file is writable when I use :w to save, but when I use :q to quit the capture, this file will be readonly.

[2020-05-08 01:48] ptn commented on #61
@dhruvasagar a simple "check out the sample dotoo.dotoo file in this repo" in the readme would go a *long* way, until there's something more extensive. Make sure to make it prominent! :-)

[2020-05-08 01:51] ptn opened #63 "This is awesome!"
I don't have anything to report - other than happiness, that is! Thanks for creating this.

Sorry for opening an issue, I don't know of any other way of contacting you :-)

[2020-05-08 03:36] dhruvasagar commented on #61
@ptn I agree, I will add that.
I am also in the process of rewriting the parser, I would like to then have a more detailed documentation describing the spec.

[2020-05-08 03:40] dhruvasagar commented on #63
@ptn You're welcome, I am happy if it's proving to be useful for others.

[2020-05-08 03:40] #63 closed

[2020-05-08 13:11] ptn opened #64 "Is there a difference with the org mode file format?"
So far dotoo files seem to be compatible, I even opened a simple one with Emacs and it worked. If there's no difference at the moment:

* Is the plan to maintain compatibility with org mode? This would be important to make parallel use of Emacs possible, while this plugin continues to mature.
* Is there a reason to create a new file extension? If you changed .dotoo to .org, I think this would gain

[2020-05-08 14:05] dhruvasagar commented on #64
They are meant to be compatible however the parser i've implemented as of yet is very limited and does not support the complete spec, since the original focus was to get only task tracking & time tracking abilities into vim.

My original idea, however was to strive for more complete org mode compatibility, however, there haven't been a lot of demand for that.

The primary reason for the new file e

[2020-05-08 14:05] #61 closed

[2020-05-08 14:29] ptn commented on #64
Right, I meant a strict subset - no deviations rather than complete. Good
to hear that's the case.

Interesting point about making the differences explicit, I hadn't thought
of that.

On Fri, May 8, 2020 at 10:05 AM Dhruva Sagar <notifications@github.com>
wrote:

--
~ Pablo

[2020-05-11 21:41] #64 closed

[2020-05-11 21:41] ptn opened #65 "Implement syntax highlighting in BEGIN_SRC blocks"
This would be killer. Any plans? Maybe you could drop inspiration from how vim-notes does it: https://github.com/xolox/vim-notes/blob/master/autoload/xolox/notes.vim#L1163

[2020-05-12 01:52] ptn opened #66 "Any plans to implement repeaters?"
I personally depend on repeaters a lot, and would love to see those in this plugin. Any plans?

Currently if I have the following todo.dotoo file:

[code]

my agenda looks like this:

[code]

[2020-05-12 11:29] dhruvasagar commented on #66
@ptn There is support for repeaters, however there may be several bugs / deviance from expectation.

* Turns out, the timestamp parser didn't recognize weekly repeaters, although there is support for dealing with it. This is a simple fix, i'll be pushing it.
* Based on my existing understanding / parser, the state changes are supposed to be part of a `:LOGBOOK:` drawer. I am not 100% sure if the s

[2020-05-12 12:43] ptn commented on #66
I actually didn't mean to post that state change line, looks like I fat-fingered something. Safe to ignore!

[2020-05-12 12:51] dhruvasagar commented on #66
With the exact contents of your dotoo file above, this is how my agenda looks like :

[code]

[2020-05-12 12:54] ptn commented on #66
You mean after your fix yeah? If so then thank you so much for fixing it so
quickly!

On Tue, May 12, 2020 at 8:52 AM Dhruva Sagar <notifications@github.com>
wrote:

--
~ Pablo

[2020-05-12 18:39] ptn commented on #66
(I think I misunderstood you before, my problem with the agenda was the bit that says `50y 143d 21h 39m 29s ago:`. Fifty years?)

[2020-05-12 18:39] #66 closed

[2020-05-12 18:48] dhruvasagar commented on #66
@ptn I noticed that, are you still seeing that with the latest version (should restart vim)?

[2020-05-12 21:26] ptn commented on #66
atm I don't have access to my programming set up, I'll need to confirm
later

On Tue, May 12, 2020 at 2:48 PM Dhruva Sagar <notifications@github.com>
wrote:

--
~ Pablo

[2020-06-01 11:35] kadadot216 opened #68 "Captured TODO items go into unexpected refile location"
Hello,

I'm trying to configure your plugin and I have made a MWE to test it.
It's working however I have QoL issue concerning ONLY the TODO items.

The biggest issue is that when I capture a todo item first, it is saved into a `~/refile` file instead of the desired refile location I put in my config.
The other types of entries are OK though, they are directly saved into the correct path.

The onl

[2020-06-01 11:48] kadadot216 opened #69 "Date doesn't decrement inside capture buffer"
Hello, this is the lesser of the 2 issues I encountered today while testing your plugin

When I am in the capture buffer and try to decrement the date by pressing `<C-x>` it continues to increment.

The date decrement works as excpected though when editing the local agenda files.

I use **NVIM v0.3.8** on **Fedora 31 x64**

Thank you for this amazing plugin. Good to see Emacs org-agenda ported to

[2020-06-01 12:20] kadadot216 commented on #68
### Update:

The workaround I use in the meantime is to clone the TODO template and remove the `'target '` attribute.

[code]

[2020-06-01 14:16] dhruvasagar commented on #68
@kadadot216 Thanks for filing this issue. In recent past I did face some issues with the capturing target changes. Are you sure you've tested this with the latest changes ? I haven't tested the plugin extensively with NeoVIM, however i'll take a look at this and share what I find.

[2020-06-01 15:02] #69 closed

[2020-06-01 15:03] dhruvasagar commented on #69
@kadadot216 Never noticed this, thanks for reporting!

[2020-06-01 16:04] kadadot216 commented on #68
I have installed it yesterday through vim-plug so I think it's the latest commit.

[2020-06-01 16:52] kadadot216 opened #70 "Sunday isn't displayed in agenda week's span."
Hello, I have 3 tasks to do this sunday and another one this thursday and I was changing
the display span in the agenda view for this week's and I noticed that my sunday
tasks don't show up despite them being displayed for the day and month span.
I went foward onto the next week but the task is still not here.

I've made an [asciicast of me reproducing what I described above.](https://asciinema.or

[2020-06-01 17:08] dhruvasagar commented on #70
@kadadot216 If you can share your dotoo file, it'll be easier to debug the issue for me.

[2020-06-01 17:33] kadadot216 commented on #70
Contents of my file:

[code]

[2020-06-01 23:08] dhruvasagar commented on #70
@kadadot216 Kindly test with latest, let me know if you face any issues

[2020-06-02 08:18] kadadot216 commented on #70
Thank you! It works as expected.

[2020-06-02 15:14] kadadot216 opened #71 "Month span view doesn't show tasks due past certain date"
This is somewhat a continuation from #70, I noticed that the month span view is showing similar behavior.

First I want to know if it is intended that the month span cover all incoming tasks.

If it is so,
When I plan a task months in advance, past a certain date, it doesn't appears anymore (in my case June 29th)

**Steps to reproduce:**
Create a task due to June 29th.
Open agenda view and switch

[2020-06-02 16:11] #71 closed

[2020-06-02 16:12] dhruvasagar commented on #71
@kadadot216 I believe it should work well now, the issue was that the last day of the month was not inclusive in the range due to a bug.

[2020-06-02 18:05] kadadot216 commented on #71
Thank you.

[2020-06-02 18:12] dhruvasagar commented on #40
I believe this is no more an issue and I have reverted the original fix to keep things simple. If this becomes an issue again we shall reopen this ticket.

[2020-06-04 03:46] dhruvasagar commented on #65
I haven't planned for this, especially because I wasn't too sure if this is something that I want. However, now, my long term plan for vim-dotoo is for compatibility with org-mode and so I shall work on this.

[2020-06-04 17:15] Gavinok opened #72 "Separate DEADLINE and SCHEDULED dates"
Currently as far as I can tell DEADLINE and SCHEDULED dates are treated the same and only one is shown in the agenda view. It would be nice to be able to see both the DEADLINE and the SCHEDULED dates in the agenda with some indication of the type.

[2020-06-04 17:16] Gavinok commented on #72
In addition it would be nice to allow for an event to have both a DEADLINE and a SCHEDULE date.

[2020-06-04 20:11] dhruvasagar commented on #72
Thanks for opening this issue, I am aware of this limitation and do plan to improve upon this idea and have it be more compatible with the way Org Mode deals with them.

[2020-06-07 20:17] kadadot216 opened #73 "Displayed remaining time in agenda view buffer doesn't refresh when pressing 'r' key"
Hello,

I had a 6 long hour vim session, I opened my agenda buffer open at the start of my session.
Then once I was done for today, I noticed that when I refresh the agenda view, the time remaining has not actualised and it still shows me the time I had 6 hours ago.

Also if I edit the DEADLINE of the existing tasks, it affects the time remaining when I refresh BUT it is only relative to the old t

[2020-06-08 11:17] dhruvasagar commented on #73
@kadadot216  It is sometimes possible that a long vim session ends up going past midnight, however, the agenda view remains to keep the previous day as it's `current` date. When this happens `r` does not fix the `current` date, since that only refreshes the agenda view by applying the current filters. I have faced this before, when this happens hitting `.` fixes the agenda view and sets the `curre

[2020-06-08 16:00] kadadot216 commented on #73
Hello, When I refresh with `.`, all my tasks deadlines go forward.
I've made an asciicast https://asciinema.org/a/lSuW4U2QYEupv8HxxlHjg6brp

[2020-06-10 18:36] belugame opened #74 "Increment/decrement on timestamps for hours/minutes"
It works on days, though my use case is that I often forget to clock in/out of something and want to adjust a time log quickly back x minutes or split a bigger one into two. So increasing/decreasing on hours and minutes would be really handy. :)

Thank you for your great work!

[2020-06-23 00:11] jmzagorski commented on #40
I am guessing https://github.com/dhruvasagar/vim-dotoo/commit/1df4ba76b74981bb8a2e9dae6bfe9e241be1831f made the problem return on windows. Putting the change @christianhaargaard works.

My echos:

`echo dotoo#time#new().to_string()`
1969-12-31 Wed 19:00

`echo strftime('%Y-%m-%d %H:%M', localtime())`
2020-06-22 20:09

`echo dotoo#time#new().datetime`
{'stzoffset': -14400, 'day': 22, 'htzoffset': -

[2020-06-23 01:51] dhruvasagar commented on #40
That's not good. Kindly share your vim version and locale settings

[2020-06-23 02:32] jmzagorski commented on #40
Thanks for the reply. Let me know if you need anything else.

**vim**
v8.2 patch 1-981, using gvim on windows.

**locale**
English(United States)

[2020-06-24 02:00] jmzagorski opened #75 "Captures go to current directory with a file name of "0""
Hello i just started with your plugin and am having odd behavior when I perform a capture on `Phone Call`, `Meeting`, `Habit` or `Note`. When i save, write to a file called "0" in the current working directory. I believe `Todo` works as expected since it goes into my refile filebelow. Even when i remove the custom config i get the same behavior.

Windows 10 using gvim 8.2 Patch 1-981

[code]
[code

[2020-07-02 01:25] jmzagorski commented on #74
do `<C-A>` `<C-X>` work for you when under a date in the `CLOCK` or `DEADLINE`?  In my todo view when i am on my either line, hitting either mapping will change the year, and then jump to the last digit in the minute and do nothing

[2020-07-02 08:18] belugame commented on #74
@jmzagorski  For me pressing either `<C-A>` or` <C-X>` will increase the `CLOCK` or `DEADLINE` by 1 day

[2020-07-02 08:35] dhruvasagar commented on #74
That's how it designed to work.

[2020-07-02 10:26] dhruvasagar commented on #74
@belugame I have just pushed a change to facilitate this request. I have added a new command `DotooAdjustDate` that allows you to adjust dates by an arbitrary amount. You can read `:h :DotooAdjustDate` for more details on usage.
For your use case, I would recommend defining custom mappings and bind it to `:DotooAdjustDate +1h` and `:DotooAdjustDate -1h` for dotoo & dotoocapture buffers.

[2020-07-02 10:26] #74 closed

[2020-07-02 10:35] dhruvasagar commented on #75
@jmzagorski Thanks, there are some edge cases that produce these at times. Can you share your vim version ? I will investigate.

[2020-07-02 11:10] jmzagorski commented on #75
Thanks for the response:

v8.2 patch 1-981, using gvim on windows. I normally recompile to the latest version every week or so.

[2020-07-02 11:41] belugame commented on #74
@dhruvasagar  Thank you so much :) I just tried it out with these mappings for hours and minutes and it works nicely.

[code]

[2020-07-02 12:03] jmzagorski commented on #74
thanks @dhruvasagar. I will try to get more debug information for you and open a new issue. I launched vim with the vimrc_example provided by the install, did `packadd vim-dotoo` and went to the `CLOCK` and it did not increase/decrease by one day.

[2020-07-02 12:15] dhruvasagar commented on #74
@jmzagorski Sure let me know, just make sure your cursor is somewhere on the date. It should work.

[2020-07-02 12:17] dhruvasagar commented on #74
@belugame The alternate api you could use is `dotoo#adjust_date()`

[2020-07-09 07:56] tbm opened #78 "recognize .org files automatically"
It seems only `.dotoo` files are recognized automatically. What about add `.org`?

[2020-07-09 07:58] tbm opened #79 "agena view: span week doesn't show tasks from this week"
With the "day" view I get:

[code]

But when I switch to "week" or "month" view I get:

[code]

Why does the week span show nothing when there are clearly tasks this week (today).

Example file:

[code]

[2020-07-09 08:01] tbm commented on #79
The problem is that `SCHEDULED` and `DEADLINE` were on the same line. that seems to confuse vim-dotoo. Note the "50y 202d ago".

I believe this is valid in Org mode though. At least Orgzly produces such files.

[2020-07-10 03:34] tbm opened #80 "Syntax highlighting goesn't highlight second keyword on planning line"
With a file like:

[code]

`SCHEDULED` is highlighted but `DEADLINE` is not.  If I put `DEADLINE` on a separate line, it gets highlighted.

But my reading of the Org spec is that they have to be on the same line:

https://orgmode.org/worg/dev/org-syntax.html#Clock,_Diary_Sexp_and_Planning

Note the: "a line filled with INFO parts".

[2020-07-10 03:35] tbm commented on #79
This is related to #80

[2020-07-10 03:35] tbm commented on #79
I believe it's mandated in Org, see #80

[2020-07-10 04:07] dhruvasagar commented on #80
@tbm Thanks a lot for raising these issues, it helps a lot. I just want to let you know I am going to work on these. I have been rewriting the document parser because it badly needs it and I shall try to incorporate all of these issues raised by you while I am at it. Will be linking to these issues to keep you updated.

[2020-07-10 04:19] tbm commented on #80
Thanks, that's good to hear. I'm currently trying to decide between vim-orgmode and vim-dotoo.  I can probably file more issues if you want more feedback.

[2020-07-10 04:26] dhruvasagar commented on #80
@tbm To be honest for more complete org compatibility, vim-orgmode is likely going to be better. But I would love your feedback so I can improve this plugin. My goal is to have orgmode compatible system but with vim's philosophy in mind and obviously stick to pure vimscript.

[2020-07-10 14:56] Gavinok commented on #79
@tbm I've had the same issue. However since as far as I know vim-dotoo does not support using both SCHEDULED and DEADLINE in the same heading I just use one until the feature can be added.

[2020-07-10 15:01] Gavinok commented on #78
@tbm I believe this is meant to avoid people from expecting complete org compatibly. Personally I just add support for .org files in my vimrc. That said I would like to have it as a native feature.

[2020-07-10 15:05] dhruvasagar commented on #79
Yes I have never tested / used this feature so I am not exactly aware on the exact behavior associated with having both. However, logically, it does make sense to allow both. Will check the metadata parser.

[2020-07-10 15:09] dhruvasagar commented on #79
Also note, in general vim-dotoo doesn't do a good job distinguishing between a scheduled date vs a deadline date, that's also a known issue and something that should be fixed sooner rather than later.

[2020-07-11 19:32] belugame commented on #74
@dhruvasagar  I noticed that the resulting duration does not update when changing the start/end time. Lets say you had a CLOCK with a 5 minute period and add 10 minutes to it, it will still say it was only 5 minutes long. Also with <C-C><C-C> it does not update. Would be great :)

[2020-07-11 19:42] dhruvasagar commented on #74
@belugame Kindly open another issue for this

[2020-07-11 19:50] belugame opened #81 "CLOCK: DotooAdjustDate and <C-C><C-C> do not update a wrong duration"
Continued from https://github.com/dhruvasagar/vim-dotoo/issues/74#issuecomment-657118403

I noticed that the resulting duration of a CLOCK line does not update when changing the start/end time with DotooAdjustDate.

Lets say you had a CLOCK with a 5 minute period and add 10 minutes to it, it will still say it was only 5 minutes long. Also with \<C-C\>\<C-C\>  it does not update.

[2020-07-11 19:53] dhruvasagar commented on #81
Thanks!

[2020-07-12 06:09] belugame opened #82 "Not possible to clock-in on a caption in unsaved buffer / dotoo file"
I'm on NVIM v0.4.3

- I open an unsaved buffer with dotoo extension e.g. `nvim foo.dotoo`
- Add "`* my caption`" as first line
- Press `gI` in normal mode on it -> nothing happens.

Only when I save the file and try again. I was expecting it to work on any buffer with dotoo extension.

[2020-07-12 06:32] dhruvasagar commented on #82
@belugame Interesting, while the parser is capable of parsing arbitrary text, I believe the modifications to the in-memory representation of headlines can only serialize to a file on disk.
I do consider this as a bug, just hadn't considered the need for something like this. Should be reasonably easy fix. Thanks for reporting.

[2020-07-12 06:45] belugame commented on #82
I'm glad you don't mind me nitpicking :)
Really appreciate your responsiveness and work! :+1:
With it I will be able to cut emacs out of my setup and only edit with vim again

[2020-07-12 07:21] dhruvasagar commented on #82
@belugame That's precisely why I wrote this plugin!

[2020-07-15 07:27] belugame opened #83 "Clocking in of caption in first line makes unfolding keys no longer react"
NVIM 0.4.3 with up-to-date vim-orgmode and vim-dotoo as plugins

Scenario:
- open a new dotoo file
- enter `* asdf` in the first line
- save file (due to #82)
- `gI` on the caption
-> previously unfolded caption becomes folded which for me is unexpected but the bug I want to describe is rather that I can't unfold the caption as usual. Right-arrow or tab do not unfold it. Only the left-arrow does i

[2020-07-15 08:27] dhruvasagar commented on #83
@belugame Is the `LOGBOOK` empty ? Actually dotoo doesn't provide mappings like `TAB` to cycle the folds (I will add this soon), it relies on vim native fold handling, so you can do something like 'zo' or 'za' to open them and 'zc' or 'za' to close them.

[2020-07-15 08:54] belugame commented on #83
@dhruvasagar Ah ok, I expected that if I install the combination of vim-orgmode + vim-dotoo I would have Tab-cycling in dotoo files too. My mistake.

For you to understand my special use case; I make monthly files where I track time spent on tasks with each task being a caption. I don't add text to the captions. So the caption is empty and I need vim-dotoo to "add to" or "create" a logbook on cloc

[2020-07-20 01:39] jmzagorski opened #84 "Date Increment/Decrement not working on windows"
I tested two systems with my same vimrc & plugins:

GVIM 8.2 patches 1-1252 Windows 10
VIM 8.2 patches 1-1238 Debian bullseye (Windows Subsystem for Linux)

`<C-A>` and `<C-X>` do not work on the windows sys, but works in WSL. You can see the two gifs below that show the issue. The dark background is debian, and the cursor jumps to the end and starts incrementing the date. The light background is

[2020-07-20 10:25] dhruvasagar commented on #84
Can you tell me the output of `echo dotoo#time#new().to_string()` on windows ?

[2020-07-20 10:46] jmzagorski commented on #84
1969-12-31 Wed. 19:00, which seems related to https://github.com/dhruvasagar/vim-dotoo/issues/40. When I put in the fix suggessted by @christianhaargaard in that issue in `autoload/dotoo/time.vim`, the echo changes to 2020-07-20 Mon 06:38, but the increment/decrement does not work. Maybe there are multiple places that a similar fix?

[2020-07-20 13:19] dhruvasagar commented on #84
@jmzagorski Thanks, kindly test using the latest changes and let me know.

[2020-07-20 13:20] dhruvasagar commented on #40
@am2605 @jmzagorski I have pushed a fix that should fix this.

[2020-07-20 17:35] jmzagorski commented on #84
`echo dotoo#time#new().to_string()` works now, thanks! The increment/decrement mapping still does not work on windows for me.

[2020-07-20 17:46] dhruvasagar commented on #84
@jmzagorski

* How did you record that gif ? I am guessing you combined 2 separate gifs ?
* Tell me, does vim native `<C-A>/<C-X>` work in other buffers on numbers ?
* Are you using Gvim or terminal vim ? If terminal vim, what terminal are you using in windows ?
* Have you also checked the same mappings in a regular dotoo file, instead of the capture window ?

[2020-07-20 18:06] jmzagorski commented on #84
_How did you record that gif ? I am guessing you combined 2 separate gifs ?_
It is one gif. I recorded split screen with windows terminal & Debian to the left and gvim to the right

_Tell me, does vim native <C-A>/<C-X> work in other buffers on numbers ?_
Yes

_Are you using Gvim or terminal vim ? If terminal vim, what terminal are you using in windows_
I tested in both vim and gvim on windows. I

[2020-07-21 15:58] barmatal commented on #40
The fix worked for me. Thanks!

[2020-07-21 16:33] #40 closed

[2020-07-23 07:40] belugame opened #85 "Clocking in on a caption that starts with "Meeting" changes it to "NEXT""
As you know by now :see_no_evil:  my usage heavily relies on clocking in and out.
I noticed when I have a caption like "`* Meeting foo`" and press `gI` to clock in, the caption changes to "`* NEXT foo`"

[2020-07-23 09:40] barmatal opened #86 "Repeated tasks don't behave correctly"
Not sure if really a bug as repeated tasks are not documented, but just in case.

Repeated tasks don't behave in the way defined in the [Org Manual](https://orgmode.org/manual/Repeated-tasks.html). There are three kind or repetitions:

+1d - After completion sets the scheduled/deadline time by adding a day to the scheduled/deadline time (even if it's in the past)
++1d - After completion sets the s

[2020-07-29 17:21] kadadot216 commented on #12
I am reviving this thread because I have a similar issue using colons in capture mode/in an entry.

If an entry has colons in its description, it doesn't appear at all in the view.

How to reproduce:

* Add `* TODO meetup with Jane @10:30` (In capture tool / Directly edit dotoo file)
* Switch to Todo View `gAt`

Expected:

* Todo View shows TODO item

Result:

* Item is absent from Todo View

[2020-07-29 18:17] kadadot216 opened #87 "(suggestion/enhancement) Way of sorting items per remaining time in View mode"
Hello dhruvasagar,

When I browse my agenda items, they are sorted by file, this is the default behavior of vim-dotoo, it parse all entries containing a GlobalOpt in the order they were added or edited.

This is a problem when I put agenda items across multiple files because it disorganizes the chronology of my tasks.
My solution for now is putting them all in the same file, but by doing so, I los

[2020-07-29 18:31] kadadot216 commented on #87
Illustrating what I am talking about

Expected:
[code]

Actual result:

![1596047198](https://user-images.githubusercontent.com/49029219/88838647-eb646880-d1ea-11ea-8490-058610ca0590.png)

I have added the `PROGRESS` opt.

[2020-07-29 19:22] dhruvasagar commented on #12
@kadadot216 Thanks for raising this, I am now able to reproduce this issue.
This is going to be pretty hard to fix in the current parser implementation which is a crude regex based approach.

[2020-07-29 19:36] dhruvasagar commented on #87
The agenda items are actually sorted by time till deadline. The filters were designed to allow for being able to focus on specific agenda items. While I agree it isn't as good as sorting, I find the idea of sorting the agenda by anything other than the deadline a bit awkward. Using filters, you can focus on items of a file, tags or a specific todo state.

[2020-07-30 09:04] belugame opened #88 "Clocking out after changing a caption changes it back"
- clock in on a caption like "* Foo"
- change caption to "*Foo bar"
- clock out
-> Caption changes back to "* Foo"

[2020-07-30 11:52] kadadot216 commented on #87
Got it, I will try adapting my worflow around filters from now on.

[2020-07-30 13:24] #87 closed

[2020-07-31 18:58] kadadot216 opened #89 "extra endif directive in autoload/dotoo/parser.vim"
It seems there is an extra endif in the file, precisely @ `autoload/dotoo/parser.vim:37`

[code]

[2020-08-01 04:39] #89 closed

[2020-08-01 04:40] dhruvasagar commented on #89
Interesting that this wasn't caught in the tests or manually. Thanks for catching this.

[2020-08-01 13:14] kadadot216 opened #90 "agenda view has displays issues after operations using buffer prompts, when having more than the defaults dotoo states"
In my first example, I have my extra opts, for a total of 16. When I manipulate my elements, my agenda view is bonked after the todo state prompt because it is too big, this results as having my cursor to move down from the headline I changed the todo state, as follows:

![ex1](https://user-images.githubusercontent.com/49029219/89101834-bdfb0300-d414-11ea-82c0-3dce0961a5a8.gif)

Plus, it puts bits

[2020-08-01 13:38] kadadot216 commented on #87
I eventually caved in and wrapped my head around the code to implement the desired functionality.
It took me the whole day to understand the way the headlines are parsed, wrapped and displayed.
It works like a charm now.

I could see and appreciate all the hard work you put into this plugin,
I switched from Emacs to Vim 3 years ago, and no any of the dozens of software/app/methods/services that I

[2020-08-01 13:43] kadadot216 commented on #90
I had the issue for a time, since I put my own todo states.
and I retested in from your `origin/master`

How to reproduce:

Add these parameters in your .vimrc to have a lot of todo states to display in the prompt.

[code]

Then from your agenda view, change the state of a todo.

When you do this to the 1st or the 2nd headline from the top, the cursor is ok, it moves when you change the ones after

[2020-08-01 16:41] #90 closed

[2020-08-01 16:43] dhruvasagar commented on #90
@kadadot216 I have removed the cmdheight manipulation, it appears it is no longer necessary at least with latest versions of vim. That hack was used because sometimes vim had issues when displaying large prompts.

[2020-08-01 16:50] dhruvasagar commented on #87
@kadadot216 Thanks for the kind words. I did put in a lot of effort in building this, and my intention was to build an extensible modular plugin. I think I have done a decent job, although the parser is a bit lacking in depth and makes it difficult to add features to the spec.
Do share your opinions on things that can be improved, including documentation.

[2020-08-03 11:07] kadadot216 commented on #90
Hello, reopening the issue because of having changed the line

[code]

in `autoload/dotoo/utils.vim:32` doesn't update the dotoo state in the agenda view.

When putting it back to
[code]
it removes the issue.

[2020-08-10 06:24] dhruvasagar commented on #90
@kadadot216 hope we're good now.

[2020-09-11 14:15] kadadot216 commented on #87
Hello, I am uploading the patch of the modifications I've made in for you or anyone who is interested.

[vim-dotoo-agenda-view.patch.txt](https://github.com/dhruvasagar/vim-dotoo/files/5209545/vim-dotoo-agenda-view.patch.txt)

[2020-09-11 14:59] dhruvasagar commented on #87
@kadadot216 would be nice to see it in action. Also, I am open to a PR with this added as an optional sorting strategy controlled by some configuration.

[2020-09-11 16:30] kadadot216 commented on #87
You can already see it in action in the gif I've previously posted. It is possible to work on a pull request.

As you see, I propagated the `diff` method upwards to be usable directly with the headlines objects with `metadata_methods.diff` and `headline_methods.diff`.

I've also added the `dotoo#agenda#headlines_preproc` function that acts as a preprocessing filter and is called from each of the a

[2020-10-16 16:05] etrmrh opened #92 "Allow agenda view to display the date of the event?"
I'm migrating over from [vim-orgmode](https://github.com/jceb/vim-orgmode) and found that I miss seeing the agenda in a calendar type of view. What I mean is that I would like to be have the option to change the agenda view from

[code]
to

[code]

I know that this plugin was based on vim-orgmode, so has this feature been purposely changed? Or is there a way to view the agenda like this that I mis

[2020-10-16 16:14] dhruvasagar commented on #92
@etrmrh The main reason we don't have this feature is because I don't use it.

But I do see value in building such a view and shall take a stab at it. We already have an option to change the `span` of the agenda view from per day to per week / month, I think that could make use of this. I have always wanted to improve the week / month span views, I just hadn't needed to.

PS : This plugin isn't ba

[2020-10-21 05:12] etrmrh commented on #75
I want to chime in and say I am experiencing the same issue. When I try to capture, the entry is saved to some random file not specified by my `g:dotoo#capture#refile`. Usually that's either "0" or "refile" in my current directory.

Additionally, my refile menu will show "No refile!" even after I capture something or even if I move the headline manually to my specified `g:dotoo#capture#refile` fil

[2020-10-21 05:24] etrmrh commented on #92
@dhruvasagar I think if you can work this feature in that would make the agenda more useful for more people. Personally I like having a birds-eye view over my tasks and events. With Org-mode agenda, having a timeline of exactly when the event falls help me plan out what to do the days leading up to it. You don't have to overwrite the original view, just allowing the option to change it to that for

[2020-10-21 08:49] dhruvasagar commented on #92
@etrmrh Thanks for the encouraging comments. Regarding the timeline thing, the more I think about it, the more it seems to make sense to me. I have always felt the week / month views were rather limited and confusing, I think the above way of representing the timeline does make more sense. I will focus on this in the coming weeks.

[2020-11-10 06:53] cstsunfu opened #93 "The report of clocking summary is not right aligned for double width characters."
Maybe you could rewrite the function log_line in autoload/dotoo/agenda_views/plugins/log_summary.vim to fix this issue.

I respect your work.

[2020-11-10 06:55] dhruvasagar commented on #93
@cstsunfu Can you share a screenshot please ?

[2020-11-10 18:42] cstsunfu commented on #93
@dhruvasagar  Like this:
<img width="766" alt="截屏2020-11-11 上午2 38 48" src="https://user-images.githubusercontent.com/24812659/98717020-77c81f00-23c7-11eb-90af-f74b244cdf51.png">

[2020-11-11 05:07] dhruvasagar commented on #93
Thanks, i'll have a look.

[2021-01-07 06:34] dhruvasagar commented on #88
Fascinating, this is because of the aggressive caching by the parser. Will investigate.

[2021-01-11 20:46] j-hui opened #95 "Allow alternative mapping for increment date (<c-a>)"
Similar to #44, but for other keybindings. I usually have `<c-a>` mapped to something else.

[2021-01-13 07:05] dhruvasagar commented on #95
@j-hui interesting. The native vim mapping <kbd><C-A></kbd> allows one to increment number under cursor and this follows suit. I will have a look.

[2021-01-13 16:00] j-hui commented on #95
For context, I have `<c-a>` remapped to `^` to imitate readline bindings.

[2021-01-23 01:50] j-hui commented on #95
Does this binding conflict with tpope/speeddating?

[2021-01-25 14:22] hasansujon786 commented on #68
Any update on this issue.

[2021-02-08 21:21] dhruvasagar commented on #68
@hasansujon786 I actually figured out the cause of the issue, will push a fix soon.

[2021-02-11 21:31] FabioRamatis opened #97 "The agenda views don't show TODOs when the buffer is closed"
First, thank you for you amazing plugin!

The video example basically explain well enough what's the issue.
https://asciinema.org/a/cTTA8zNH5y6x6EpGD1XKF6hO0

When I open the todo.dotoo file and bring up agenda view, it shows the TODO properly, but when I just want to open neovim and bring the agenda, it doesn't catch the TODOs.

[2021-02-12 17:46] dhruvasagar commented on #97
You're welcome!

Are you sure your dotoo file is within the path set in `g:dotoo#agenda#files` ?

[2021-02-12 17:48] FabioRamatis commented on #97
I can echo out the variable correctly when I start my neovim

    https://asciinema.org/a/2jSCKYpRWpYYaah7Hk8W7u9tH

[2021-03-09 18:52] stuart-warren commented on #68
I'm still hitting this, assume a fix hasn't been pushed yet

Thanks

[2021-03-09 19:28] stuart-warren commented on #68
I've worked around it by specifying the file extension before any section name:
[code]

[2021-03-09 21:28] stuart-warren commented on #75
I'm also getting this issue

[2021-03-10 11:08] dhruvasagar commented on #68
I believe I have understood when this happens, when haven't opened the agenda (which opens the agenda files) yet, if we try to capture and save it, it is unable to find the refile dotoo file and ends up trying to create a new file. i'll push a fix today

[2021-03-10 11:29] #68 closed

[2021-03-10 11:31] dhruvasagar commented on #75
I have pushed a fix for #68, that should fix this as well. Let me know if it's still an issue with the latest changes.

[2021-03-10 11:31] #75 closed

[2021-03-11 22:16] dhruvasagar commented on #95
I have provided plug mappings that can now be overriden individualy

[2021-03-11 22:16] #95 closed

[2021-03-12 18:06] dhruvasagar commented on #84
I am going to close this issue. If you're still facing it kindly reopen and provide more details

[2021-03-12 18:06] #84 closed

[2021-03-13 04:42] dhruvasagar commented on #81
@belugame DotooAdjustDate only adjusts a date, it does not save the file and for that reason it's not able to correct the clock entries by itself. However, if you adjusted the dates, saved the file and then hit `\<C-C><C-C>` anywhere on the clock line outside of the individual dates, it should fix the duration. I believe this is alright, I wouldn't consider saving the file automatically because I

[2021-03-13 04:42] #81 closed

[2021-03-13 04:44] dhruvasagar commented on #88
@belugame If you saved the file after changing the caption and then proceed to clock out, it should behave as expected. I think that's acceptable for now.

[2021-03-13 04:44] #88 closed

[2021-03-13 05:12] dhruvasagar commented on #35
I've address this in the recent commit f133a1e

[2021-03-13 05:12] #35 closed

[2021-03-13 07:12] dhruvasagar commented on #97
@FabioRamatis Can you check with latest if this is still an issue ? I believe this shouldn't be an issue anymore, however I recommend enabling vim option `hidden`, however, recently I pushed changes that removes my dependence on it.

[2021-03-13 07:12] #97 closed

[2021-03-13 07:29] #92 closed

[2021-03-13 07:30] dhruvasagar commented on #92
@etrmrh I've finally pushed an early version of this, it seems to be working well however I haven't tested for all edge cases ver well. Kindly take a look and let me know what you think.

[2021-03-14 15:18] ourigen commented on #92
@dhruvasagar Hey there, hope you don't mind if I chime in. I'm also another user who was looking forward to this change, and am very excited to see this implemented. The few suggestions I have are:

- **Allow hiding dates without events.** If my tasks are spaced out at least a week or so, having 7 extraneous lines with just dates and no valuable information take up screen space that I could use to

[2021-03-14 17:06] dhruvasagar opened #99 "@dhruvasagar Hey there, hope you don't mind if I chime in. I'm also another user who was looking forward to this change, and am very excited to see this implemented. The few suggestions I have are:"
@dhruvasagar Hey there, hope you don't mind if I chime in. I'm also another user who was looking forward to this change, and am very excited to see this implemented. The few suggestions I have are:

- **Allow hiding dates without events.** If my tasks are spaced out at least a week or so, having 7 extraneous lines with just dates and no valuable information take up screen space that I could use to

[2021-03-14 17:07] dhruvasagar commented on #99
@ourigen I have address the first part of your request, kindly refer to the documentation / commit description for details.

Addressing the second part is also easy, I am thinking about any side effects. Will share here once I push something.

[2021-03-14 18:28] #99 closed

[2021-03-14 18:29] dhruvasagar commented on #99
@ourigen I have addressed both these requests. Kindly take a look and let me know.

[2021-03-15 00:48] ourigen commented on #99
@dhruvasagar Thanks for the quick work on this! From my brief test, both new features seems to be working exactly as I needed

[2021-03-15 05:36] dhruvasagar commented on #99
@ourigen That is by design as I understand, for today we try to show all `upcoming` tasks, which includes tasks in the future. There's a separate configuration that controls how far in future we should look. I will still refer to the org mode documentation in this and see if I find any discrepency.

[2021-03-15 05:37] dhruvasagar commented on #99
@ourigen perhaps in week / month span modes, this rule shouldn't apply, I will cross check with Org Mode on this and revert.

[2021-03-16 03:24] ourigen commented on #99
@dhruvasagar Now that you mention it, I do see the purpose of having tasks also listed under the current date. Honestly if it is easier to leave it as is, I wouldn't mind. The main features I was looking for were already quickly implemented, so thank you for your hard work on this

[2021-03-19 06:34] #72 closed

[2021-03-19 06:38] dhruvasagar commented on #72
@Gavinok Hey, I have pushed a new version 0.12.0. In this update I have improved the agenda view logic for distinguishing between Scheduled headlines vs headlines with a deadline. I've kept the logic as close to emacs org-mode as possible. Kindly take a look and let me know what you think when you find time.

NOTE: I will address adding support for both schedule & deadline on a headline as a separ

[2021-03-19 06:42] dhruvasagar commented on #79
For folks interested, I have pushed a new update (Version 0.12.0) where i've significantly improved the Agenda View so it distinguishes between Scheduled headlines vs Headliens with a deadline properly. I've kept the logic to be close to how I understand emacs org-mode does.

I still haven't addressed the issue of supporting both a deadline & a schedule on the same headline. I will work on the sep

[2021-03-22 05:20] dhruvasagar opened #101 "Bug: Repeatable timestamps are broken"
In a recent change, we ended up breaking the ability to cleanly handle and manipulate repeatable timestamps. Any change we perform ends up removing the repeatable portion.

[2021-03-22 05:21] #101 closed

[2021-03-22 05:37] dhruvasagar opened #102 "Bug: Capture is broken, error when closing buffer"
When you save and close a capture window, it's supposed to get saved to the refile / target based on the template. However, we're unable to do that now, upon closing we see an error because it's unable to save the captured todo in the right place.

[2021-03-22 08:20] #102 closed

[2021-03-23 13:13] cstsunfu opened #103 "Change agenda span from day to week or month is too slow."
Hi, I am very glad to see that you have recently spent time on this plugin, thanks for your awesome job.

I want to know the reason while this plugin changed the agenda view span from day to week will spend so long time.

[2021-03-23 16:58] dhruvasagar commented on #103
@cstsunfu Probably the implementation is slow, I have noticed it. There's been an update to the logic, that checks for repeatable dates if they are applicable for the given date. I'll try to optimise this.

[2021-03-24 01:38] ourigen opened #105 "If using a non-standard refile path, headlines don't show up under refile menu"
For example, say I have `let g:dotoo#agenda#files=['~/documents/notes/org/*.org']`,
`let g:dotoo#capture#refile=expand('~/documents/notes/org/inbox.org')`, and in my `inbox.org`

[code]
If I hit `gAr` to go to the refile menu, I get
[code]

I think the refile menu briefly worked for my non-standard `dotoo#capture#refile` after commit a35f144c658ae902b29540e97d6c8bb31387cfbe.

[2021-03-27 07:24] #3 closed

[2021-03-27 07:26] dhruvasagar commented on #3
@hasufell @edkolev I have finally recorded a screencast and added a link to it in the README, hopefully it should be able to do justice

[2021-03-27 18:57] #105 closed

[2021-03-27 18:57] dhruvasagar commented on #105
@ourigen Thanks for reporting, this should now be fixed.

[2021-04-01 01:57] amagee opened #106 "Capturing tasks puts tasks in the wrong file"
I've experienced this on v0.12.7 and on revision `43d242c95a8b8e0356f1bbba127ecee07aa98a9b
`.

My relevant dotoo settings:

[code]

I hit `gCt` to enter a todo, edit some of the todo information, and hit `:wq` to save. Instead of putting the todo into `~/docs/dotoo/refile.dotoo`, it puts it into a file in `/tmp`.

Interestingly, the problem is specific to tasks. Phone calls, habits, meetings & not

[2021-04-01 02:36] dhruvasagar commented on #106
@amagee Are you saying that they remain in that tmp file even after you close the capture window ?

[2021-04-01 02:50] Gavinok commented on #103
Speaking of it being slow(I kinda get that vim is far from fast) is there a way to set it to default to a month view?

[2021-04-01 05:30] amagee commented on #106
Yes.

On Thu, Apr 1, 2021 at 1:36 PM Dhruva Sagar ***@***.***>
wrote:

--
*Andrew Magee*
Software engineer

e: ***@***.***
p: 0403 642 438
li: https://www.linkedin.com/in/andrew-magee-7b66b821/

[2021-04-01 23:00] amagee commented on #106
Oh, I also just noticed that applying the patch from https://github.com/dhruvasagar/vim-dotoo/pull/104/commits/2d2fc2272cb4bf072219de45cb78567e9c428318 fixes the problem.

[2021-04-02 04:47] dhruvasagar commented on #103
@Gavinok now you can ^

[2021-04-02 04:52] dhruvasagar commented on #106
@amagee I will investigate this and try to address it in a better way

[2021-04-02 05:40] Gavinok commented on #103
Thanks man you are the bust!

[2021-04-02 20:12] kristijanhusak opened #107 "Refile sometimes written in wrong file for todos"
Hi,

I noticed that sometimes my refile file that I configured doesn't get updated when I add a todo, but instead it creates refile file in cwd. This is my configuration:

[code]

Steps to reproduce:
1. Open vim (in my case neovim)
2. press `gC`, select `todo`
3. add some content for todo
4. write, close buffer
5. Check refile file

Here's the gif showing it. Seems like it happens only for todo, b

[2021-04-02 20:24] dhruvasagar commented on #62
@cstsunfu I believe this should not be an issue with on the latest version of vim-dotoo. Kindly test again and let me know.

[2021-04-02 20:25] dhruvasagar commented on #107
@kristijanhusak i'll close this in favor of #106

[2021-04-02 20:25] #107 closed

[2021-04-02 20:27] dhruvasagar commented on #106
@amagee Also what I have noticed in the past is if there happens to be a buffer named `refile` it can create issues. This particular issue you describe should ideally be fixed with the latest changes, however, if you're using vim sessions, it may be so that there is a buffer with the name `refile` and that would cause this problem, even if the file happened to not exist.

[2021-04-16 16:59] ourigen opened #108 "Headlines with priority can't be edited from agenda view"
If I have a task with a priority, like so

[code]

and press `<CR>` on it from the agenda view (`gA`), then (Neo)Vim just instead echo `:call dotoo#agenda#goto_headline('edit')` and will not open the file containing the headline for editing.

I'm currently using Neovim v0.50 Nightly, but I also encountered this problem on Neovim v0.44

[2021-04-16 20:26] dhruvasagar commented on #108
@ourigen Thanks, i'll take a look

[2021-04-23 12:27] sigurdga opened #109 "Problems when datetimes contain `.`"
I'm not sure what's going on, but when date are automatically created, I always end up with unix epoch: `[1969-12-31 on. 23:00]`. Adjusting the date manually or by using ctrl-a, and then pressing `<C-C><C-C>` resets  any date to `[1969-12-31 on. 23:00]`. The short version of weekday is shortened with a dot, and I suspect that to be the problem.

Everything works as expected with `LANG=C`, but not

[2021-04-24 21:10] dhruvasagar commented on #109
Looks like a weird locale issue, i'll try to replicate this and see if I can work around it.

[2021-04-25 17:32] sigurdga commented on #109
Thanks for looking into it. I tested some more locales and saw problems with non-ascii three letters daynames, so it's not only the dots.

[2021-04-28 10:18] kristijanhusak opened #111 "Support DEADLINE Warning"
Hi,

I started using this together with Orgzly on my Android phone. Almost everything works, which is great!

One thing that I noticed that is not presented properly is deadline warning (https://orgmode.org/manual/Deadlines-and-Scheduling.html).

Orgzly properly sends a notification for a set up warning on a deadline, but it is not supported by dotoo. When date has for example `-1d`, it prints the

[2021-04-28 16:17] #111 closed

[2021-04-28 17:57] Gavinok opened #113 "gA menu not visible in neovim 0.5"
Not sure if this is really considered a bug since it should eventually be fixed but I found that in the current version of neovim's 0.5 beta the menu for `gA` does not seem to show.

This is probably a bug for the neovim devs to handle rather than for vim-dotoo but I think it would be worth moving to the built in `confirm()` function instead of doing a custom solution.

I started on a pr for this

[2021-04-28 18:07] dhruvasagar commented on #113
@Gavinok Thanks for reporting this, i'll take another look at switching to confirm

[2021-04-28 18:15] dhruvasagar commented on #113
@Gavinok Can you share the neovim version in detail ? I tried on the 0.5 nightly bin from aur and it seems to work

[2021-04-28 18:18] Gavinok commented on #113
My mistake I found the source of the error to actually be on my end. Thanks for mentioning that. Seems to be caused my vim-troff plugin some how.

[2021-04-28 18:26] dhruvasagar commented on #113
@Gavinok no issues, closing for now. The

[2021-04-28 18:26] #113 closed

[2021-04-28 18:47] #108 closed

[2021-05-02 17:26] kristijanhusak opened #115 "Code block highlights"
Today I was writing some code blocks and noticed they are highlighted as string. I checked the code and saw a dependency on external plugin https://github.com/dhruvasagar/vim-dotoo/blob/master/syntax/dotoo.vim#L293. Also, only few of the filetypes are hardcoded.

I would like to improve on this:
* Parse the `#BEGIN_SRC filetype` with parser, have a reference to it on each dotoo
* Write out a custo

[2021-05-02 17:34] dhruvasagar commented on #115
@kristijanhusak Actually with the help of `:syn-include` it is possible to add support for this without modifying the parser. I haven't spent any time improving the syntax definitions which were largely borrowed from vim-orgmode, but they can be improved.

[2021-05-02 17:39] kristijanhusak commented on #115
Yeah, [SyntaxRange plugin](https://github.com/vim-scripts/SyntaxRange/blob/master/autoload/SyntaxRange.vim#L94) uses the `syn-include`, and I want to do the same.
I need the parser to figure out which syntaxes to include. I don't think it's a good idea to load some static list of filetypes, especially if it's a large one.
Or is there a way to somehow figure out the filetype for `BEGIN_SRC` and loa

[2021-05-02 17:45] dhruvasagar commented on #115
@kristijanhusak The simpler approach would be to go the route of how tpope did for markdown code fences. Basically, with the help of a global configuration such as `g:dotoo_begin_src_languages` we can let the user decide which syntaxes they'd like to support and enable only those.

It would be more optimal to figure out the right syntax to include based on the parser, and I think in the long run w

[2021-05-02 17:53] kristijanhusak commented on #115
Yeah that also works. I'll set up a PR with a solution very similar to Tpope's.

[2021-05-03 09:57] kristijanhusak commented on #78
I'm using this as a workaround:
[code]

[2021-05-03 09:58] kristijanhusak commented on #115
I just figured out this is a duplicate of #65. Closing.

[2021-05-03 09:58] #115 closed

[2021-05-03 11:16] dhruvasagar commented on #78
Like @Gavinok said, the reason I don't this is because we aren't 100% compatible with org mode syntax and some of the dotoo features may not work properly as a result. For this reason, I am not doing this yet. If you're only using vim-dotoo to manage these files & todos you may use @kristijanhusak work around and it should work for the most part, however, especially for existing org files, or file

[2021-05-03 11:16] #78 closed

[2021-05-03 11:51] #65 closed

[2021-05-05 16:19] Gavinok opened #118 "Mislabelled dotoo_begin_src_languages in help"
`g:dotoo_begin_src_languages` was called `g:dotoo_todo_keyword_faces` in the help. Here is the diff:
[code]

[2021-05-05 16:32] #118 closed

[2021-05-18 20:12] Gavinok opened #123 "How to get spelling working?"
I have used `:set spell` but it doesn't seem to function the same in dotoo files as it does in other text files. there is not highlighting and it can't be found with `[s` not sure if I am missing something.

[2021-05-19 05:37] #123 closed

[2021-05-19 05:37] dhruvasagar commented on #123
@Gavinok Should be working now.

[2021-05-19 15:20] joshzcold opened #124 "Agena View: moving headlines has possibility of erasing TODO without creating new file"
[code]
say I have these agena files
[code]
if I move a headline using <kbd>m</kbd>  and try to specify a file that doesn't exist (i.e create a new file) then the headline is remove and no new file is created.

Moving the headline to a file that exist works fine.

NeoVim version:
[code]

[2021-05-19 16:30] dhruvasagar commented on #124
@joshzcold Thanks for reporting this, in my opinion dotoo should notify that the target is missing and no perform any action. I'll work on this.

[2021-05-19 20:41] Gavinok commented on #123
@dhruvasagar It would be nice to still have spell checking in the bulleted and numbered lists as well.

[2021-05-19 20:45] Gavinok commented on #123
This should do it
[code]

[2021-05-20 04:53] dhruvasagar commented on #123
@Gavinok Thanks i'll take a look

[2021-05-21 20:01] ivanddm opened #125 "Error when entering a url in capture mode"
Hi, and thanks for a great plugin.

I'm getting this error when entering a url in the first like of a TODO using capture:

![image](https://user-images.githubusercontent.com/20104703/119192061-2b515080-ba88-11eb-99ef-5660307297bb.png)

I wonder if this is by design or it is actually a bug. Normally I like to enter my TODOs in only one line. If I enter the url in the second line instead, there is n

[2021-05-21 20:45] dhruvasagar commented on #125
@ivanddm This is a bug, I have come across this before, the problem is with the precense of `:` character which is used to parse tags, the parser needs a fix, i'll take a look. Thanks.

[2021-05-21 20:47] dhruvasagar commented on #125
@ivanddm As a temporary work around, kindly place urls in the body of the headline instead of within the title.

[2021-05-22 11:59] #125 closed

[2021-05-22 12:00] dhruvasagar commented on #12
@kadadot216 I have fixed this in a recent update with #125.

[2021-05-22 12:00] #12 closed

[2021-06-18 12:03] talmobi opened #126 "E33: No previous substitute regular expression | :r refresh + Refile view"
Hello,

I get this error sometimes when I try to refresh or enter the Refile view (gA -> r).

I just created a new task in the refile file with gC, and then I try and enter the gAr refile view and get this error. The agenda view also doesn't show new task that was created.

Trying to enter Refile view (gAr)
![](https://i.imgur.com/z9ZUr2R.png)

Trying to refresh after entering the refile view (r)

[2021-06-18 12:09] talmobi commented on #126
Oh I think I may have configured the refile file wrong

I had
`let g:dotoo#capture#refile='~/Dropbox/dotoo-files/refile.dotoo'`

Now that I changed it to
`let g:dotoo#capture#refile=expand('~/Dropbox/dotoo-files/refile.dotoo')`

it seems to work fine

[2021-06-18 18:34] dhruvasagar commented on #126
Thanks! I am going to close this issue in favor of you solving your own problem!

[2021-06-18 18:34] #126 closed

[2021-06-22 09:06] talmobi opened #127 "Refreshing doesn't work"
Reopening agenda view or pressing r for refreshing doesn't work. I have to quick vim entirely for new tasks to be visible. Sometimes saving (pressing s) works but not for getting new tasks.

[2021-06-22 17:05] dhruvasagar commented on #127
You may have to use `.`, what you describe typically happens when you've had vim running past the current day and dotoo agenda still treats the previous date as current date

[2021-06-23 21:26] talmobi commented on #127
Status update:
If I manually open the dotoo buffer (refile.dotoo in this case) I get a warning that it has changed since the last time it was opened. After I open it and open the agenda view again it shows the new tasks. But pressing r or . does not work.

I set an autocmd to authored *.dotoo files, but that still didn't fix the issue -- but now when I open the refile.dotoo buffer the warning no l

[2021-06-24 06:48] dhruvasagar commented on #127
@talmobi I am going to take a look at this if it is an issue from dotoo

[2021-06-24 10:35] talmobi commented on #127
@dhruvasagar I'll take a video demonstrating the behaviour later today

[2021-06-24 11:08] dhruvasagar commented on #127
@talmobi that will be helpful, thanks!

[2021-06-25 21:57] talmobi commented on #127
@dhruvasagar https://www.youtube.com/watch?v=eDvQcFVOqIc

[2021-06-26 08:06] dhruvasagar commented on #127
@talmobi Thanks for your efforts, I was able to reproduce this and I have a fix ready. I am just a little vary of how this fix works on older versions of vim.

[2021-06-26 08:12] #127 closed

[2021-06-26 08:12] dhruvasagar commented on #127
@talmobi Do check the commit for your reference. Thanks for reporting this issue and for your help.

[2021-06-26 10:30] talmobi commented on #127
@dhruvasagar I can confirm it's working for me~

[2021-06-26 14:21] talmobi commented on #127
@dhruvasagar btw out of interest, do you have any speculation to why it was working for you and others earlier? But was not working for me?

Or were you using vim-dotoo differently where you would not notice this issue? Am I using it wrong?

Thanks~

I'm using OSX 11.4 (20F71) M1 Laptop.
vim 8.2 (2019 Dec 12, compiled Jun 02 2021 13:28:15)
macOS version - arm64
Included patches: 1-2925

[2021-06-27 05:48] dhruvasagar commented on #127
@talmobi This bug was introduced fairly recently, basically like described in the commit we moved to using `writefile` api instead of opening a buffer and edit the file with the help of vimscript (this being slower and requires unnecessary overhead of managing cursor positions etc). I believe I just hadn't noticed this because when you navigate to the refile file manually, it gets updated (the buf

[2021-06-27 07:20] talmobi commented on #127
@dhruvasagar thanks~

[2021-06-28 14:05] talmobi opened #128 "[QUESTION] Quick way to return to Agenda view after entering a refile file? (from the agenda view)"
So when the Agenda view is open, you can press <Enter> to go into that task inside the dotoo buffer. After you are done, is there a way to quickly go back to the Agenda view again?

So far the best way I see is to just quit the buffer and press gA again to open the agenda view. The usual vim suspects does not work (like b# or the goto previous buffer key bind)

Is there a way? Or is is the idea to

[2021-06-28 15:06] dhruvasagar commented on #128
@talmobi I don't believe there is a way right now, I could set it up so that `<C-^>` can work.

Haven't considered this before and typically I use one of the alternatives (`<Tab>` being my go to) when I want to get back to the agenda view after some quick work in the file.

[2021-06-28 15:07] dhruvasagar commented on #128
Also, you can trigger the agenda mapping (`gA`) to go the agenda view again. It is designed to remember things like filters, etc.

[2021-06-28 15:09] #128 closed

[2021-06-30 04:11] dhruvasagar commented on #106
@R2robot It does work for me. I can help fix the issue for you if are able to provide some details about the exact problem. Sorry you feel this wya.

[2021-06-30 04:12] dhruvasagar commented on #106
@R2robot @amagee There have been changes made to the capture system recently, I believe this problem should not exist. However, if you continue to face issues I am happy to debug it with you and help you resolve it.

[2021-07-13 19:50] frrobert2 opened #129 "Agenda Commands"
I downloaded vim-dotoo and I am slowly getting things to work but I am still having and issue in Agenda View.
I can not get any of the following to work.

<CR>: Open headline under cursor & close agenda
<C-S>: Open headline under cursor in split
<C-T>: Open headline under cursor in tab
<C-V>: Open headline under cursor in vsplit
<Tab>: same as <C-V>

Every other command seems to be working.

Readi

[2021-07-14 06:02] dhruvasagar commented on #129
@frrobert2 I am assuming you meant that when you use the mappings as documented for the agenda view, they aren't working. Do you get an error ? Kindly also share your vim version output.

[2021-07-14 16:37] dhruvasagar commented on #129
Can you also share the output of executing `:verb map <CR>` on the agenda buffer ?
I will try to test this on nvim, since I don't actively use nvim there's a possibility we broke something specifically on nvim.

[2021-07-14 17:25] frrobert2 commented on #129
I tried vim also and the same issue.

Results
n  <CR>         @:<C-U>call dotoo#agenda#goto_headline('edit')<CR>
        Last set from ~/.vim/pack/frrobert/opt/vim-dotoo/ftplugin/dotooagenda.vim line 35

Thanks for your help

[2021-09-07 12:17] talmobi opened #130 "<C-c><C-c> no longer recalculates delta time in dotoo file"
Sometimes I change the dates/timestamps for clocking in/out in order to adjust when work has actually started/stopped (when I forget to clock in and out for example) -- usually this would re-calculate the elapsed time, but after updating it no longer does this -- it just stays the same.

Ideas?

[2021-09-07 21:05] dhruvasagar commented on #130
It should work when your not on top of any of the two timestamps. When you're on the timestamps, `\<C-C>\<C-C>` tries to normalise (or fix) the timestamp

[2021-09-07 21:28] talmobi commented on #130
Hmm no changes should have been done for some time so it should be working as intended as before -- I'm not sure why it has stopped working suddenly.

@dhruvasagar therefore, it is most likely an issue on my end -- I did recently update to OSX 11.5.2 not sure if relevant, though.

It jumps to the closest timestamp and basically changes nothing (but vim still reports as something has been modified

[2021-09-08 20:25] dhruvasagar commented on #130
@talmobi I see you closed the issue, I hope you understood what's going on. Hitting the key binding anywhere on the line other than on the individual timestamps should produce the result you're expecting.

[2021-09-08 20:28] talmobi commented on #130
@dhruvasagar Yes It has worked earlier but now it no longer does work -- I think it's probably an issue with something else I have running or configured. No matter where I am on the line, the key bind jumps to the nearest timestamp and attempts to fix it. Usually I would just go to the beginning of the line, hit the key bind, and then it would add the correct elapsed time -- but no changes have be

[2021-09-14 06:15] dhruvasagar commented on #130
In that case I will reopen and investigate if this is an issue with the plugin

[2021-09-14 10:43] talmobi commented on #130
@dhruvasagar Not sure if related but often when clocking in/out inside the refile file (using key bind gI and gO) I get an error -- the error doesn't seem to matter as it properly clocks in/out, but I did not used to get this error.

![](https://i.imgur.com/bRMfy82.png)

[2022-01-16 03:55] wrigleyster commented on #106
I believe perhaps this issue is in the usage pattern?
I was experiencing something similar. I was using `gCt` to open the capture window, typing in my headline, and then closing the buffer using `:x` or `wq`, but my refile.dotoo file would not update.

Looking around in the code however, I noticed in dotoocapture.vim that the autocmd is triggered by `BufferHidden` which is not triggered by the abo

[2022-01-16 20:03] dhruvasagar commented on #106
@wrigleyster thanks for the detail. `BufLeave` is triggered also when you move cursor away from the buffer to another buffer (split, tab), hence I am using `BufferHidden`. However, I use `:wq` and that works for me.

[2022-03-10 11:54] Bietola opened #131 "TODOs with date range do not show up in the agenda view"
As soon as I create a TODO with a date range, it doesn't seem to appear in the agenda view. TODOs with just a single time work just fine.

eg. `SCHEDULED: <2022-03-12 Sat 09:30>` works, while `SCHEDULED: <2022-03-12 Sat 09:30-11:30>` doesn't.

[2022-03-11 16:52] Bietola commented on #131
Thanks for the quick reply! It would just be nice to have it appear in the agenda view with the date range specified.

[2022-05-22 13:23] deanmarano commented on #106
I believe I'm experiencing this as well. I'm on a M1 Mac, using iTerm2. I've tested using the system vim (8.2.4113) and homebrew vim (8.2.4950) I installed `vim-dotoo` (57ff147), set the following in my vim config:

[code]

I created the directory and the `refile.dotoo` file, as well as put the `dotoo.dotoo` example file in the `~/nextcloud/dotoo/` for testing.

When I hit `gCt`, I'm able to open

[2022-05-22 17:43] dhruvasagar commented on #106
@deanmarano This is likely a vim specific error, can you share your vim version ?

[2022-05-26 00:27] deanmarano commented on #106
I've tried using both the system vim (8.2.4113) and vim installed from homebrew (8.2.4950)

[2022-05-26 02:18] deanmarano commented on #106
I've been testing this out with a minimal config.

https://gist.github.com/deanmarano/fc97b590fff17849fc41bb9ca385114c

I can reproduce this with the above vimrc. All capture types go into the refile properly _except_ todos. Those go into a `refile` in the current directory.

[2022-05-26 02:35] deanmarano commented on #106
I think it's related to the refactor here: https://github.com/dhruvasagar/vim-dotoo/commit/e1668712e0dd6c24bf29a893014be919511ba07e#diff-70460992ba9204c192eb0af9baf66c6cfb3e6634250353517158e975b250218dR85
I'm not sure how the `refile:Tasks` was working before this, but it seems to have broken for some users.

As @amagee mentioned:

This resolves the issue. While applying this change, I found that

[2022-05-26 04:24] dhruvasagar commented on #106
@deanmarano Are you overriding capture templates ?

[2022-05-26 04:43] dhruvasagar commented on #106
@deanmarano I am unable to reproduce this issue so it's hard to test. I did however find a minor issue that I have corrected and pushed an update, can you or someone else verify if this solves the issue ?

[2022-05-26 14:27] deanmarano commented on #106
The fix you pushed worked! Thank you!

[2022-05-26 14:46] dhruvasagar commented on #106
If this is still an issue let me know, i'll open the issue and investigate.

[2022-05-26 14:46] #106 closed

[2022-05-27 13:50] saccarosium opened #132 "Merging syntax highlighting from org.vim plugin"
Hi,
I really like the plugin's functionality, but I find that the syntax highlighting is a bit janky, especially on headings, where highlights only one start even in level 2 or 3 headings. I found this plugin [org.vim](https://github.com/axvr/org.vim), and I think borrowing some syntax highlighting bits will be beneficial. I can make a PR with an initial draft but, since I'm not very good with Vim

[2022-05-27 14:01] dhruvasagar commented on #132
I have been meaning to rewrite the syntax highlighting so I definitely think that is worth spending time on.
It might be worth looking into utilizing tree-sitter

[2022-05-27 16:31] saccarosium commented on #132
Yeah, I think it is a good idea! The only problem is the plugin will become neovim only.

I think that you are already aware of this, there is a tree-sitter [parser for orgmode](https://github.com/milisims/tree-sitter-org) that is used in [Orgmode.nvim](https://github.com/nvim-orgmode/orgmode#thanks-to) plugin.

[2022-06-22 12:48] ElCbo opened #133 "How to view Meetings and notes in agenda view"
Hi, is there any way to see what meeting on a day or in a timespan.
I want to go day by day and see what happened on that day, any ideas?

[2022-06-22 19:32] dhruvasagar commented on #133
@ElCbo As of now there isn't a way to do this, agenda view only shows todos with deadlines / schedule. I think this can be done, i'll try something and let you know.

[2022-06-23 14:15] ElCbo opened #134 "Move Headline to nirvana"
Hi,
if you move a headline in agenda view using 'm' and don't enter anything but just hit return. Then the headline is lost or at least I don't know where it is.

Steps to reproduce:

- Create new todo (gCt)
- Open agenda view (gAa)
- Move freshly created todo (m)
- Don't enter anything, just press ESC
- Close and open agenda view

Expected result:
Todo  should remain in refile

Actual result:
Tod

[2022-08-05 07:54] daoxxx opened #135 "Syntax errors"
I've just installed plugin with vimPlug. Trying to open for edit some foo.dootoo file.

[code]

[2022-09-29 06:35] demiceOP opened #136 "Space between todos"
how do I remove those newlines between the todos
![Screenshot_2022-09-29-12-02-43-47_84d3000e3f4017145260f7618db1d683](https://user-images.githubusercontent.com/99286483/192956655-aed6a2b4-3f79-499a-8f08-c3706a10f1c4.jpg)

[2022-09-29 15:46] dhruvasagar commented on #136
@demiceOP What device are you running this on ? Looks like some issue because of resolution / space constraints

[2022-09-30 11:41] demiceOP commented on #136
I'm running this on termux in an android phone

[2022-09-30 11:56] dhruvasagar commented on #136
@demiceOP I will try to see if I can add support for a more compact mode for lower resolution devices. This wasn't originally designed for such a use case.

[2022-10-09 04:01] redst4r opened #137 "Trailing whitespaces after dates remove tasks from agenda view"
Hi,

I noticed that trailing spaces in the `DEADLINE:` and `SCHEDULE:` dates cause the task to NOT show up in the agenda view and will be missed!
Actually any character behind the date specification, e.g. `[2022-10-08]x` causes the task not to show.

Trailing characters are easy to spot (I'd still prefer some syntax errror/warning), but whitespaces are easy to miss (depending on the vim settings,

[2022-10-10 08:31] dhruvasagar commented on #137
@redst4r Thanks for reporting this, I will certainly take a look.

[2022-10-10 21:25] redst4r commented on #137
might be something specific to Nvim 0.8.0, I just upgraded from 0.7 before starting to use dotoo.vim
here's the specifics:
[code]

[2022-10-20 06:44] #137 closed

[2022-10-20 06:48] dhruvasagar commented on #137
@redst4r I have pushed a fix that ignores trailing whitespace, kindly try it out and let me know if it works as expected.

[2022-11-20 10:19] proedie opened #139 "Refile does not work"
Hi.

I am just testing out this plugin and I can't seem to get refile to work. The files are set-up in `~/.vim/plugin_settings/dotoo.vim` as:

[code]

But when I create a new task via `gC` nothing shows up in `refile.dotoo` and when I manually edit that file I get ‘No REFILES!‘ with `gAr`.

Cheers!